<!-- Code generator by Bharath --> 
<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../common/loginSignupHead %>
  </head>
  <body ng-app="adminApp" ng-cloak>
    </md-content> 
      <md-card>
        <md-card-content>
          <div layout="row" layout-align="space-between center">
            <h2>Signup page</h2>
          </div>

          <form action="/signup" method="post" name='signupForm'>
            <md-input-container class="md-block">
              <label>Name</label>
              <input required type="text" name="name" ng-model="name"
                     minlength="10" maxlength="100"/>
              <div ng-messages="signupForm.name.$error" role="alert">
                <div ng-message-exp="['required', 'minlength', 'maxlength']">
                  Name Must be Valid!
                </div>
              </div>
            </md-input-container>
            <md-input-container class="md-block">
              <label>Email</label>
              <input required type="email" name="email" ng-model="email"
                     minlength="10" maxlength="100" ng-pattern="/^.+@.+..+$/" />
              <div ng-messages="signupForm.email.$error" role="alert">
                <div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">
                  Your email must be between 10 and 100 characters long and look like an e-mail address.
                </div>
              </div>
            </md-input-container>
            <md-input-container class="md-block">
              <label>Password</label>
              <input required type="text" name="password" ng-model="password"
                     minlength="10" maxlength="100" />
              <div ng-messages="signupForm.password.$error" role="alert">
                <div ng-message-exp="['required', 'minlength', 'maxlength']">
                  Your password must be between 10 and 100 characters long.
                </div>
              </div>
            </md-input-container>
            <md-button type="submit">Signup</md-button>
          </form>
        </md-card-content>
      </md-card>
    </md-content>
    <% include ../common/script %>
  </body>
</html>