<div layout="row" class="card-footer" layout-align="space-between center" layout-padding >
    <div layout="column" layout-align="center center" ng-click="goProfile()">
        <i class="fa fa-user" style="color:white;font-size: 20px !important" aria-hidden="true"></i>
        <span class="whitefont" style="font-size: 12px;letter-spacing: 1px">Profile</span>
    </div>
    <div style="padding-left: 23%;display: none" layout="column" layout-align="center center" id="calIcon">
        <div layout="column" layout-align="center center" ng-click="goCal()">
            <i class="fa fa-calendar" aria-hidden="true" style="color: white;font-size: 20px !important"></i>
            <span style="font-size: 12px" class="whitefont">Manage</span>
        </div>
    </div>
    <div style="padding-left: 12%;">
        <a href="https://www.dialjordan.com"><img src="../images/logowhite.png" alt="lunch" style="width: 80px"></a>
    </div>
</div>
