 <div layout="row" class="card-footer" layout-align="space-between center" layout-padding >
    
    <div layout="column" id="firstSlot" layout-align="center center" ng-click="goProfile()" style="cursor: pointer;outline: none">
        <i class="fa fa-user" style="color:white;" aria-hidden="true"></i>
        <span class="whitefont" style="font-size: 12px;letter-spacing: 1px">Business</span>
    </div>
    <div layout="column" id="secondSlot" layout-align="center center" ng-click="goCal()" style="cursor: pointer;outline: none">
        <i class="fa fa-calendar" aria-hidden="true" style="color: white;font-size: 20px !important"></i>
        <span style="font-size: 12px;letter-spacing: 1px" class="whitefont">Apps</span>
    </div>
    <div layout="column" layout-align="center center" style="outline: none" id='djLink' ng-click="goDJ()">
        <i class="fa fa-calendar" aria-hidden="true" style="color: white;font-size: 20px !important"></i>
        <span style="font-size: 12px;letter-spacing: 1px" class="whitefont">Offer/Discount</span>
    </div>
    <div layout="column" layout-align="center center" style="outline: none" id='djLink' ng-click="goDJ()">
        <i class="fa fa-calendar" aria-hidden="true" style="color: white;font-size: 20px !important"></i>
        <span style="font-size: 12px;letter-spacing: 1px" class="whitefont">Contact Us</span>
    </div>
</div>
