		<!-- header -->
		<div layout="row" layout-align="space-between center" layout-padding class="c02425bgcolor height50 header-border">
			<div style="padding:0px !important ">
				<button ng-click="vmPage.toggleLeft()" style="background: transparent;border:none">
					<i class="fa fa-bars" style="color: white;font-size: 20px !important" aria-hidden="true"></i>
				</button>
			</div>
			<div>
				<img src="../images/white-logo.png" width="100px" height="100px" alt="white-logo">
			</div>
			<div>
  <md-switch ng-model="data.cb1" aria-label="Switch 1">
  </md-switch>
			</div>
		</div>
		<!-- header -->