<md-sidenav class="md-sidenav-left" md-component-id="left" md-whiteframe="4">
    <md-toolbar class="md-theme-indigo">
        <h1 class="md-toolbar-tools">DIALJORDAN</h1>
    </md-toolbar>
    <md-content>
        <div layout="column">  
            <md-button ng-click="vmPage.close()" class="md-primary" hide-gt-md>Close Menu</md-button>
            <!-- <md-button class="md-raised" aria-label="locality" href="/admin/localities">Locality</md-button>   -->
            <md-button class="md-raised" aria-label="caterer" href="/admin/caterers">Caterer</md-button>
            <md-button class="md-raised" aria-label="apartment" href="/admin/apartments">Apartment</md-button> 
            <md-button class="md-raised" aria-label="user" href="/admin/users">User</md-button> 
            <md-button class="md-raised" aria-label="subscription" href="/admin/subscriptions">Subscription</md-button>
            <md-button class="md-raised" aria-label="menu" href="/admin/vegmenus">VEG Menu</md-button>
            <md-button class="md-raised" aria-label="menu" href="/admin/nonvegmenus">Non Veg Menu</md-button>
            <md-button class="md-raised" aria-label="notification" href="/admin/notifications">Notification</md-button>
            <md-button class="md-raised" aria-label="payment" href="/admin/payments">Payment</md-button>
            <md-button class="md-raised" aria-label="calender" href="/admin/calenders">Calender</md-button>
            <md-button class="md-raised" aria-label="logout" href="/logout">Logout</md-button>
        </div>
    </md-content>
</md-sidenav>