<md-sidenav class="md-sidenav-left" md-component-id="left" md-whiteframe="4">
    <md-toolbar class="md-theme-indigo">
        <h1 class="md-toolbar-tools"><img src="../images/white-logo.png" width="100px" height="100px" class="ml-25" alt="white-logo"> <md-button ng-click="vmPage.close()" style="position: fixed;right: 0px;"><i class="fa fa-2x fa-angle-left" aria-hidden="true"></i></md-button></h1>
        
    </md-toolbar>
    <md-content>
      <md-list flex>
        <a aria-label="caterer" href="/menu" style="color:black; text-decoration: none"><md-list-item  ng-click="null">
            Today's Menu
        </md-list-item></a>
        <md-divider ></md-divider>
       
        <a aria-label="caterer" href="/faq" style="color:black; text-decoration: none"><md-list-item  ng-click="null">
            FAQ
        </md-list-item></a>
        <md-divider ></md-divider>
        

        <a aria-label="caterer" href="/history" style="color:black; text-decoration: none"><md-list-item  ng-click="null">
            Order History
        </md-list-item></a>
        <md-divider ></md-divider>


        <a aria-label="caterer" href="/contact" style="color:black; text-decoration: none"><md-list-item  ng-click="null">
            Contact Us
        </md-list-item></a>
        <md-divider ></md-divider>

        <a aria-label="caterer" href="/chef-registration" style="color:black; text-decoration: none"><md-list-item  ng-click="null">
            Chef Registration
        </md-list-item></a>
        <md-divider ></md-divider>

        <a aria-label="caterer" ng-href='/enquiry?subject=School Enquiry' style="color:black; text-decoration: none"><md-list-item  ng-click="null">
            Dj School
        </md-list-item></a>
        <md-divider ></md-divider>

        <a aria-label="caterer" ng-href='/enquiry?subject=Corporate Enquiry' style="color:black; text-decoration: none"><md-list-item  ng-click="null">
            Dj Office
        </md-list-item></a>
        <md-divider ></md-divider>

        <a aria-label="caterer" ng-href='/enquiry?subject=Party Enquiry' style="color:black; text-decoration: none"><md-list-item  ng-click="null">
            Dj Party
        </md-list-item></a>
        <md-divider ></md-divider>

        <a aria-label="caterer" ng-href="/apartment" style="color:black; text-decoration: none"><md-list-item  ng-click="null">
            Register your Apartment
        </md-list-item></a>
        <md-divider ></md-divider>

        <a aria-label="caterer" href="/terms" style="color:black; text-decoration: none"><md-list-item  ng-click="null">    
            Terms & Conditions
        </md-list-item></a>
        <md-divider ></md-divider>
        
<!--         <a aria-label="caterer" href="/privacy" style="color:black; text-decoration: none"><md-list-item  ng-click="null">
            Privacy Policy
        </md-list-item></a>
        <md-divider ></md-divider> -->


        <a aria-label="caterer" href="/cancellation" style="color:black; text-decoration: none"><md-list-item  ng-click="null">
            Cancellation Policy
        </md-list-item></a>
        <md-divider ></md-divider>


    </md-list>
</md-content>
</md-sidenav>