<div ng-app="cmsApp" ng-cloak>

  <div ng-controller="pageController as vmPage">
    <ng-include src="'views/user/includes/sidebar.html'"></ng-include>
  

	<md-content layout="row" layout-xs="column" ng-controller="menuController as vmMenu" ng-cloak style="height:100%;background-image: url(../images/screen1.jpg);" >

		<div id="loader" style="position: fixed; bottom: -13%;left:6.5%;display: none">
			<img src="https://i.stack.imgur.com/h6viz.gif" alt=""  >
		</div>

<!-- left -->
		<div flex-gt-xs="55" hide-xs>

		   <div layout="column" style="padding-top: 10%" layout-align="start start" layout-padding>
			<div style="margin-top: -5%;margin-bottom: -45px;padding-left: 0px">
				<img src="../images/logo.png" width="200px" height="200px" class="md-card-image" alt="image caption">
			</div>
			<div style="margin-left: 5%">
				<h1 class="home-left-h1">Healthy Home Style Meal</h1>
				<h1 class="home-left-h1">Free Delivery at your doorstep</h1>
				<h1 class="home-left-h1">Different Cuisine Everyday</h1>
				<h1 class="home-left-h1">No More Kitchen Hassles</h1>
				<h1 class="home-left-h1">No Repeat for 30 days</h1>
		</div>
		<div style="margin-left: 5%">
			<h4 class="home-left-h4">Get veg meals at &#8377 99/- and non veg meals at just &#8377 119/-, organize your schedule </h4>
			<h4 class="home-left-h4">No more kitchen hassles, Free home delivery</h4>
			</div>
		   </div>
		
		</div>
<!-- left -->


<!-- right -->
		<md-card class="card-border" flex-gt-xs="25" layout-align="center">
			<div class="faq-div-height">
		            <ng-include src="'views/user/includes/header.html'"></ng-include>
				<div style="overflow: hidden;">
				  <div class="faq-overflow-height" style="overflow-y: overlay;overflow-x: hidden;margin-right: -15px;padding-right: 12px">
				   <div style="padding: 10px">
					<div>
						<h5 style="margin-bottom: 5px">WHAT IS DJ FRESH?</h5>
						<h5 style="margin-top: 0px;color:#959CA5;letter-spacing:1px;font-weight:400">Djfresh helps users get fresh and healthy multi-cuisine meal box to their doorstep on a subscription basis with no repeat of the menu.</h5>
					</div>
					<div>
						<h5 style="margin-bottom: 5px">WHAT ARE THE DIFFERENT TYPES OF MEAL PLANS?</h4>
						<h5 style="margin-top: 0px;color:#959CA5;letter-spacing:1px;font-weight:400">Currently, djfresh has only Regular Meal plan which is a daily meal available in veg and non-veg.</h5>
					</div>
					<div>
						<h5 style="margin-bottom: 5px">WHAT ARE THE DELIVERY TIMELINES?</h4>
						<h5 style="margin-top: 0px;color:#959CA5;letter-spacing:1px;font-weight:400">We do delivery daily delivery between 7:30 to 9:30 pm local time.</h5>
					</div>
					<div>
						<h5 style="margin-bottom: 5px">WHAT ARE THE PRICES?</h4>
						<h5 style="margin-top: 0px;color:#959CA5;letter-spacing:1px;font-weight:400">Vegetarian Meal Box is priced at Rs. 99 + GST of 5% (inclusive of free delivery) Non-Vegetarian Meal is priced at Rs. 119 + GST of 5% (inclusive of free delivery)</h5>
					</div>
					<div>
						<h5 style="margin-bottom: 5px">CAN I CUSTOMIZE MY MENU?</h4>
						<h5 style="margin-top: 0px;color:#959CA5;letter-spacing:1px;font-weight:400">All menu’s at djfresh are designed by our international chef’s and we offer no repeat dish for 30 days, and NO you cannot customize.</h5>
					</div>
					<div>
						<h5 style="margin-bottom: 5px">WHAT MAY BE THE CONTENT OF MY MEAL?</h4>
						<h5 style="margin-top: 0px;color:#959CA5;letter-spacing:1px;font-weight:400">djfresh is currently serving world cuisine. The content of the meal may differ on a daily basis to give the most exotic experience to the user as possible.</h5>
					</div>

					<div>
						<h5 style="margin-bottom: 5px">CAN I CHANGE THE ADDRESS OF THE DELIVERY?</h4>
						<h5 style="margin-top: 0px;color:#959CA5;letter-spacing:1px;font-weight:400">Yes, Absolutely. But please note that we will only deliver to the new address if we are serving in that location and provided your apartment is registered with us already.</h5>
					</div>

					<div>
						<h5 style="margin-bottom: 5px">DO YOU SERVE LUNCH AND DINNER BOTH?</h4>
						<h5 style="margin-top: 0px;color:#959CA5;letter-spacing:1px;font-weight:400">We have started our services with Dinner, and as soon we start lunch we will keep you posted.</h5>
					</div>
					<div>
						<h5 style="margin-bottom: 5px">HOW CAN I CANCEL MY MEAL SUBSCRIPTION?</h4>
						<h5 style="margin-top: 0px;color:#959CA5;letter-spacing:1px;font-weight:400">You cannot cancel your meal subscription, and we have not kept any validity for the consumption of the subscribed meal package. You may alternatively gift it to your friends and colleagues.</h5>
					</div>
					<div>
						<h5 style="margin-bottom: 5px">CAN WE FIRST TRY? I MEAN WHAT’S THE GUARANTEE RIGHT?</h4>
						<h5 style="margin-top: 0px;color:#959CA5;letter-spacing:1px;font-weight:400">We have a 5-meal subscription plan which is as good as a trial to try out our world cuisine.</h5>
					</div>
					<div>
						<h5 style="margin-bottom: 5px">CAN I GET VEG AND NON-VEG BOTH MEALS ON A DELIVERY?</h4>
						<h5 style="margin-top: 0px;color:#959CA5;letter-spacing:1px;font-weight:400">Yes. You can manage this on the calendar separately.</h5>
					</div>
					<div>
						<h5 style="margin-bottom: 5px">CAN I CHOOSE MY SUBSCRIPTION DATES?</h4>
						<h5 style="margin-top: 0px;color:#959CA5;letter-spacing:1px;font-weight:400">Yes. Definitely. We would never force you to eat when you don’t want to. But then where else?</h5>
					</div>
					<div>
						<h5 style="margin-bottom: 5px">CAN I CANCEL THE MEAL AFTER THE CUTOFF TIME?</h4>
						<h5 style="margin-top: 0px;color:#959CA5;letter-spacing:1px;font-weight:400">Yes, you can and Thank You we will gift it from our side too an NGO and certainly as you know this is charity.</h5>
					</div>
					<div>
						<h5 style="margin-bottom: 5px">HOW CAN I GET IN TOUCH WITH DJFRESH?</h4>
						<h5 style="margin-top: 0px;color:#959CA5;letter-spacing:1px;font-weight:400">You can chat with us on our website djfresh.in. We are always available. We are not that talkative, don’t call us.</h5>
					</div>
					<div>
						<h5 style="margin-bottom: 5px">I COOK GOOD, CAN I GET REGISTERED AS A CHEF?</h4>
						<h5 style="margin-top: 0px;color:#959CA5;letter-spacing:1px;font-weight:400">Chat with us. Be prepared for a cooking challenge.</h5>
					</div>
					<div>
						<h5 style="margin-bottom: 5px">HOW WILL I KNOW IF MY MEAL BOX IS DELIVERED?</h4>
						<h5 style="margin-top: 0px;color:#959CA5;letter-spacing:1px;font-weight:400">Well, let me think, I guess we will have to send SMS. And if you are not at home, collect from security re baba.</h5>
					</div>
					<div>
						<h5 style="margin-bottom: 5px">CAN I TRACK MY MEAL?</h4>
						<h5 style="margin-top: 0px;color:#959CA5;letter-spacing:1px;font-weight:400">Sorry, we have sent our engineers to NASA. 30 days max and sometimes God answers prayers as well.</h5>
					</div>
					<div>
						<h5 style="margin-bottom: 5px">IS THE MEAL BOX MICROWAVABLE?</h4>
						<h5 style="margin-top: 0px;color:#959CA5;letter-spacing:1px;font-weight:400">Yes without lid and cutlery. Djfresh is not responsible for the quality of your microwave.</h5>
					</div>
					<div>
						<h5 style="margin-bottom: 5px">WHAT IF THE SEAL FOR A MEAL BOX IS OPEN BEFORE I ACCEPT THE MEAL?</h4>
						<h5 style="margin-top: 0px;color:#959CA5;letter-spacing:1px;font-weight:400">Don’t Accept. Chat with us.</h5>
					</div>
				</div>
					</div>
				</div> 
			</div>
	<ng-include src="'views/user/includes/footer.html'"></ng-include>
		</md-card>
<!-- right -->

	</md-content>
</div>
</div>

<!--                     <md-slider flex md-discrete ng-model="rating1" step="1" min="1" max="5" aria-label="rating"></md-slider> -->


