<div ng-app="cmsApp" ng-cloak>

	<div ng-controller="pageController as vmPage">
		<ng-include src="'views/user/includes/sidebar.html'"></ng-include>


		<md-content layout="row" class="md-content-bgimage" layout-xs="column" ng-controller="menuController as vmMenu" ng-cloak style="height:100%;" >

			<div id="loader" style="position: fixed; bottom: -13%;left:6.5%;display: none">
				<img src="https://i.stack.imgur.com/h6viz.gif" alt=""  >
			</div>

			<!-- left -->
			<div flex-gt-xs="55" hide-xs>

				<div layout="column" style="padding-top: 10%" layout-align="start start" layout-padding>
					<div style="margin-top: -15%;margin-bottom: 24px;padding-left: 0px">
						<img src="../images/white-logo.png" width="200px" height="200px" class="md-card-image" alt="image caption">
					</div>
					<div style="margin-left: 5%">
						<h1 style="margin-bottom: 0px" class="home-left-h1">No Repeat for 30 days</h1>
						<h1 style="margin-bottom: 0;margin-top: 10px" class="home-left-h1">Healthy Home Style Meal</h1>
						<h1 style="margin-bottom: 0;margin-top: 10px" class="home-left-h1">No More Kitchen Hassles</h1>
						<h1 style="margin-bottom: 0;margin-top: 10px" class="home-left-h1">Different Cuisine Everyday</h1>
						<h1 style="margin-top: 10px" class="home-left-h1">Free Delivery at your doorstep</h1>
					</div>
					<div style="margin-left: 5%">
						<h4 style="margin-bottom: 0px" class="home-left-h4">Get veg meals at &#8377 119/- and non veg meals at just &#8377 139/-,</h4>
						<h4 style="margin-bottom: 0px;margin-top: 10px" class="home-left-h4">organize your schedule No more kitchen hassles,</h4>
						<h4 style="margin-top: 10px" class="home-left-h4">Free home delivery</h4>
					</div>
				</div>

			</div>
			<!-- left -->


			<!-- right -->
			<md-card class="card-border" flex-gt-xs="25" layout-align="center">
				<ng-include src="'views/user/includes/header.html'"></ng-include>


<!-- <div>
	<div ng-click="faq('a1')">
		<p>qst1</p>
		<p id="a1" style="display:none ">ans1</p>
	</div>

	<div ng-click="faq('a2')">
		<p>qst2</p>
		<p id="a2" style="display: none">ans2</p>		
	</div>	
</div> -->

				<div class="faq-div-height">

					<div style="overflow: hidden;">
						<div class="faq-overflow-height" style="overflow-y: overlay;overflow-x: hidden;margin-right: -15px;padding-right: 12px">
							<div style="padding: 10px">
								<div style="border-bottom: 1px solid #eee">
									<div ng-click="faq('ans1','up1','down1')" layout="row" class="outline-none" layout-align="space-between center">
										<h5 style="margin-bottom: 5px;color: grey">1. WHAT IS DJ FRESH?</h5>
										<i id="down1" class="fa fa-angle-down c02425font mt10" aria-hidden="true"></i>
										<i id="up1" style="display: none" class="fa fa-angle-up c02425font mt10" aria-hidden="true"></i>
									</div>

									<h5 class="text-justify" id="ans1" style="margin-top: 0px;color:#959CA5;letter-spacing:1px;font-weight:400;display: none;">Djfresh helps users get fresh and healthy multi-cuisine meal box to their doorstep on a subscription basis with no repeat of the menu.</h5>
								</div>
								<div  style="border-bottom: 1px solid #eee">
									<div ng-click="faq('ans2','up2','down2')" layout="row" class="outline-none" layout-align="space-between center">
										<h5 style="margin-bottom: 5px;color: grey">2. WHAT ARE THE DIFFERENT TYPES OF MEAL PLANS?</h5>
										<i id="down2" class="fa fa-angle-down c02425font mt10" aria-hidden="true"></i>
										<i id="up2" style="display: none" class="fa fa-angle-up c02425font mt10" aria-hidden="true"></i>
									</div>
									<h5 id="ans2" class="text-justify" style="margin-top: 0px;color:#959CA5;letter-spacing:1px;font-weight:400;display: none">Currently, djfresh has only Regular Meal plan which is a daily meal available in veg and non-veg.</h5>
								</div>
								<div style="border-bottom: 1px solid #eee">
									<div ng-click="faq('ans3','up3','down3')" layout="row" class="outline-none" layout-align="space-between center">
										<h5 style="margin-bottom: 5px;color: grey">3. WHAT ARE THE DELIVERY TIMELINES?</h5>
										<i id="down3" class="fa fa-angle-down c02425font mt10" aria-hidden="true"></i>
										<i id="up3" style="display: none" class="fa fa-angle-up c02425font mt10" aria-hidden="true"></i>
									</div>
									<h5 id="ans3" class="text-justify" style="margin-top: 0px;color:#959CA5;letter-spacing:1px;font-weight:400;display: none">We do delivery daily delivery between 7:30 to 9:30 pm local time.</h5>
								</div>
								<div style="border-bottom: 1px solid #eee">
									<div ng-click="faq('ans4','up4','down4')" layout="row" class="outline-none" layout-align="space-between center">
										<h5 style="margin-bottom: 5px;color: grey">4. WHAT ARE THE PRICES?</h5>
										<i id="down4" class="fa fa-angle-down c02425font mt10" aria-hidden="true"></i>
										<i id="up4" style="display: none" class="fa fa-angle-up c02425font mt10" aria-hidden="true"></i>
									</div>
									<h5 id="ans4" class="text-justify" style="margin-top: 0px;color:#959CA5;letter-spacing:1px;font-weight:400;display: none">Vegetarian Meal Box is priced at Rs. 119 + GST of 5% (inclusive of free delivery) Non-Vegetarian Meal is priced at Rs. 139 + GST of 5% (inclusive of free delivery)</h5>
								</div>
								<div style="border-bottom: 1px solid #eee">
									<div ng-click="faq('ans5','up5','down5')" layout="row" class="outline-none" layout-align="space-between center">
										<h5 style="margin-bottom: 5px;color: grey">5. CAN I CUSTOMIZE MY MENU?</h5>
										<i id="down5" class="fa fa-angle-down c02425font mt10" aria-hidden="true"></i>
										<i id="up5" style="display: none" class="fa fa-angle-up c02425font mt10" aria-hidden="true"></i>
									</div>
									<h5 id="ans5" class="text-justify" style="margin-top: 0px;color:#959CA5;letter-spacing:1px;font-weight:400;display: none">All menu’s at djfresh are designed by our international chef’s and we offer no repeat dish for 30 days, and NO you cannot customize.</h5>
								</div>
								<div style="border-bottom: 1px solid #eee">
									<div ng-click="faq('ans6','up6','down6')" layout="row" class="outline-none" layout-align="space-between center">
										<h5 style="margin-bottom: 5px;color: grey">6. WHAT MAY BE THE CONTENT OF MY MEAL?</h5>
										<i id="down6" class="fa fa-angle-down c02425font mt10" aria-hidden="true"></i>
										<i id="up6" style="display: none" class="fa fa-angle-up c02425font mt10" aria-hidden="true"></i>
									</div>
									<h5 id="ans6" class="text-justify" style="margin-top: 0px;color:#959CA5;letter-spacing:1px;font-weight:400;display: none">djfresh is currently serving world cuisine. The content of the meal may differ on a daily basis to give the most exotic experience to the user as possible.</h5>
								</div>

								<div style="border-bottom: 1px solid #eee">
									<div ng-click="faq('ans7','up7','down7')" layout="row" class="outline-none" layout-align="space-between center">
										<h5 style="margin-bottom: 5px;color: grey">7. CAN I CHANGE THE ADDRESS OF THE DELIVERY?</h5>
										<i id="down7" class="fa fa-angle-down c02425font mt10" aria-hidden="true"></i>
										<i id="up7" style="display: none" class="fa fa-angle-up c02425font mt10" aria-hidden="true"></i>
									</div>
									<h5 id="ans7" class="text-justify" style="margin-top: 0px;color:#959CA5;letter-spacing:1px;font-weight:400;display: none">Yes, Absolutely. But please note that we will only deliver to the new address if we are serving in that location and provided your apartment is registered with us already.</h5>
								</div>

								<div style="border-bottom: 1px solid #eee">
									<div ng-click="faq('ans8','up8','down8')" layout="row" class="outline-none" layout-align="space-between center">
										<h5 style="margin-bottom: 5px;color: grey">8. DO YOU SERVE LUNCH AND DINNER BOTH?</h5>
										<i id="down8" class="fa fa-angle-down c02425font mt10" aria-hidden="true"></i>
										<i id="up8" style="display: none" class="fa fa-angle-up c02425font mt10" aria-hidden="true"></i>
									</div>
									<h5 id="ans8" class="text-justify" style="margin-top: 0px;color:#959CA5;letter-spacing:1px;font-weight:400;display: none">We have started our services with Dinner, and as soon we start lunch we will keep you posted.</h5>
								</div>
								<div style="border-bottom: 1px solid #eee">
									<div ng-click="faq('ans9','up9','down9')" layout="row" class="outline-none" layout-align="space-between center">
										<h5 style="margin-bottom: 5px;color: grey">9. HOW CAN I CANCEL MY MEAL SUBSCRIPTION?</h5>
										<i id="down9" class="fa fa-angle-down c02425font mt10" aria-hidden="true"></i>
										<i id="up9" style="display: none" class="fa fa-angle-up c02425font mt10" aria-hidden="true"></i>
									</div>
									<h5 id="ans9" class="text-justify" style="margin-top: 0px;color:#959CA5;letter-spacing:1px;font-weight:400;display: none">You cannot cancel your meal subscription, and we have not kept any validity for the consumption of the subscribed meal package. You may alternatively gift it to your friends and colleagues.</h5>
								</div>
								<div style="border-bottom: 1px solid #eee">
									<div ng-click="faq('ans10','up10','down10')" layout="row" class="outline-none" layout-align="space-between center">
										<h5 style="margin-bottom: 5px;color: grey">10. CAN WE FIRST TRY? I MEAN WHAT’S THE GUARANTEE RIGHT?</h5>
										<i id="down10" class="fa fa-angle-down c02425font mt10" aria-hidden="true"></i>
										<i id="up10" style="display: none" class="fa fa-angle-up c02425font mt10" aria-hidden="true"></i>
									</div>
									<h5 id="ans10" class="text-justify" style="margin-top: 0px;color:#959CA5;letter-spacing:1px;font-weight:400;display: none">We have a 5-meal subscription plan which is as good as a trial to try out our world cuisine.</h5>
								</div>
								<div style="border-bottom: 1px solid #eee">
									<div ng-click="faq('ans11','up11','down11')" layout="row" class="outline-none" layout-align="space-between center">
										<h5 style="margin-bottom: 5px;color: grey">11. CAN I GET VEG AND NON-VEG BOTH MEALS ON A DELIVERY?</h5>
										<i id="down11" class="fa fa-angle-down c02425font mt10" aria-hidden="true"></i>
										<i id="up11" style="display: none" class="fa fa-angle-up c02425font mt10" aria-hidden="true"></i>
									</div>
									<h5 id="ans11" class="text-justify" style="margin-top: 0px;color:#959CA5;letter-spacing:1px;font-weight:400;display: none">Yes. You can manage this on the calendar separately.</h5>
								</div>
								<div style="border-bottom: 1px solid #eee">
									<div ng-click="faq('ans12','up12','down12')" layout="row" class="outline-none" layout-align="space-between center">
										<h5 style="margin-bottom: 5px;color: grey">12. CAN I CHOOSE MY SUBSCRIPTION DATES?</h5>
										<i id="down12" class="fa fa-angle-down c02425font mt10" aria-hidden="true"></i>
										<i id="up12" style="display: none" class="fa fa-angle-up c02425font mt10" aria-hidden="true"></i>
									</div>
									<h5 id="ans12" class="text-justify" style="margin-top: 0px;color:#959CA5;letter-spacing:1px;font-weight:400;display: none">Yes. Definitely. We would never force you to eat when you don’t want to. But then where else?</h5>
								</div>
								<div style="border-bottom: 1px solid #eee">
									<div ng-click="faq('ans13','up13','down13')" layout="row" class="outline-none" layout-align="space-between center">
										<h5 style="margin-bottom: 5px;color: grey">13. CAN I CANCEL THE MEAL AFTER THE CUTOFF TIME?</h5>
										<i id="down13" class="fa fa-angle-down c02425font mt10" aria-hidden="true"></i>
										<i id="up13" style="display: none" class="fa fa-angle-up c02425font mt10" aria-hidden="true"></i>
									</div>
									<h5 id="ans13" class="text-justify" style="margin-top: 0px;color:#959CA5;letter-spacing:1px;font-weight:400;display: none">Yes, you can and Thank You we will gift it from our side too an NGO and certainly as you know this is charity.</h5>
								</div>
								<div style="border-bottom: 1px solid #eee">
									<div ng-click="faq('ans14','up14','down14')" layout="row" class="outline-none" layout-align="space-between center">
										<h5 style="margin-bottom: 5px;color: grey">14. HOW CAN I GET IN TOUCH WITH DJFRESH?</h5>
										<i id="down14" class="fa fa-angle-down c02425font mt10" aria-hidden="true"></i>
										<i id="up14" style="display: none" class="fa fa-angle-up c02425font mt10" aria-hidden="true"></i>
									</div>
									<h5 id="ans14" class="text-justify" style="margin-top: 0px;color:#959CA5;letter-spacing:1px;font-weight:400;display: none">You can chat with us on our website djfresh.in. We are always available. We are not that talkative, don’t call us.</h5>
								</div>
								<div style="border-bottom: 1px solid #eee">
									<div ng-click="faq('ans15','up15','down15')" layout="row" class="outline-none" layout-align="space-between center">
										<h5 style="margin-bottom: 5px;color: grey">15. I COOK GOOD, CAN I GET REGISTERED AS A CHEF?</h5>
										<i id="down15" class="fa fa-angle-down c02425font mt10" aria-hidden="true"></i>
										<i id="up15" style="display: none" class="fa fa-angle-up c02425font mt10" aria-hidden="true"></i>
									</div>
									<h5 id="ans15" class="text-justify" style="margin-top: 0px;color:#959CA5;letter-spacing:1px;font-weight:400;display: none">Chat with us. Be prepared for a cooking challenge.</h5>
								</div>
								<div style="border-bottom: 1px solid #eee">
									<div ng-click="faq('ans16','up16','down16')" layout="row" class="outline-none" layout-align="space-between center">
										<h5 style="margin-bottom: 5px;color: grey">16. HOW WILL I KNOW IF MY MEAL BOX IS DELIVERED?</h5>
										<i id="down16" class="fa fa-angle-down c02425font mt10" aria-hidden="true"></i>
										<i id="up16" style="display: none" class="fa fa-angle-up c02425font mt10" aria-hidden="true"></i>
									</div>
									<h5 id="ans16" class="text-justify" style="margin-top: 0px;color:#959CA5;letter-spacing:1px;font-weight:400;display: none">Well, let me think, I guess we will have to send SMS. And if you are not at home, collect from security re baba.</h5>
								</div>
								<div style="border-bottom: 1px solid #eee">
									<div ng-click="faq('ans17','up17','down17')" layout="row" class="outline-none" layout-align="space-between center">
										<h5 style="margin-bottom: 5px;color: grey">17. CAN I TRACK MY MEAL?</h5>
										<i id="down17" class="fa fa-angle-down c02425font mt10" aria-hidden="true"></i>
										<i id="up17" style="display: none" class="fa fa-angle-up c02425font mt10" aria-hidden="true"></i>
									</div>
									<h5 id="ans17" class="text-justify" style="margin-top: 0px;color:#959CA5;letter-spacing:1px;font-weight:400;display: none">
										Sorry, we have sent our engineers to NASA. 30 days max and sometimes God answers prayers as well.
									</h5>
								</div>
								<div style="border-bottom: 1px solid #eee">
									<div ng-click="faq('ans18','up18','down18')" layout="row" class="outline-none" layout-align="space-between center">
										<h5 style="margin-bottom: 5px;color: grey">18. IS THE MEAL BOX MICROWAVABLE?</h5>
										<i id="down18" class="fa fa-angle-down c02425font mt10" aria-hidden="true"></i>
										<i id="up18" style="display: none" class="fa fa-angle-up c02425font mt10" aria-hidden="true"></i>
									</div>
									<h5 id="ans18" class="text-justify" style="margin-top: 0px;color:#959CA5;letter-spacing:1px;font-weight:400;display: none">Yes without lid and cutlery. Djfresh is not responsible for the quality of your microwave.</h5>
								</div>
								<div style="border-bottom: 1px solid #eee">
									<div ng-click="faq('ans19','up19','down19')" layout="row" class="outline-none" layout-align="space-between center">
										<h5 style="margin-bottom: 5px;color: grey">19. WHAT IF THE SEAL FOR A MEAL BOX IS OPEN BEFORE I ACCEPT THE MEAL?</h5>
										<i id="down19" class="fa fa-angle-down c02425font mt10" aria-hidden="true"></i>
										<i id="up19" style="display: none" class="fa fa-angle-up c02425font mt10" aria-hidden="true"></i>
									</div>
									<h5 id="ans19" class="text-justify" style="margin-top: 0px;color:#959CA5;letter-spacing:1px;font-weight:400;display: none">Don’t Accept. Chat with us.</h5>
								</div>
							</div>
						</div>
					</div> 
				</div>
				<ng-include src="'views/user/includes/footer.html'"></ng-include>
			</md-card>
			<!-- right -->

		</md-content>
	</div>
</div>

<!--                     <md-slider flex md-discrete ng-model="rating1" step="1" min="1" max="5" aria-label="rating"></md-slider> -->
