<div ng-app="cmsApp" ng-cloak>

	<div ng-controller="pageController as vmPage">
		<ng-include src="'views/user/includes/sidebar.html'"></ng-include>


		<md-content layout="row" class="md-content-bgimage" layout-xs="column" ng-controller="historyController as vmHistory" ng-cloak style="height:100%;" >

			<div id="loader" style="position: fixed; bottom: -13%;left:6.5%;display: none">
				<img src="https://i.stack.imgur.com/h6viz.gif" alt=""  >
			</div>

			<!-- left -->
			<div flex-gt-xs="55" hide-xs>
				<div layout="column" style="padding-top: 10%" layout-align="start start" layout-padding>
					<div style="margin-top: -15%;margin-bottom: 24px;padding-left: 0px">
						<img src="../images/white-logo.png" width="200px" height="200px" class="md-card-image" alt="image caption">
					</div>
					<div style="margin-left: 5%">
						<h1 style="margin-bottom: 0px" class="home-left-h1">No Repeat for 30 days</h1>
						<h1 style="margin-bottom: 0;margin-top: 10px" class="home-left-h1">Healthy Home Style Meal</h1>
						<h1 style="margin-bottom: 0;margin-top: 10px" class="home-left-h1">No More Kitchen Hassles</h1>
						<h1 style="margin-bottom: 0;margin-top: 10px" class="home-left-h1">Different Cuisine Everyday</h1>
						<h1 style="margin-top: 10px" class="home-left-h1">Free Delivery at your doorstep</h1>
					</div>
					<div style="margin-left: 5%">
						<h4 style="margin-bottom: 0px" class="home-left-h4">Get veg meals at &#8377 119/- and non veg meals at just &#8377 139/-,</h4>
						<h4 style="margin-bottom: 0px;margin-top: 10px" class="home-left-h4">organize your schedule No more kitchen hassles,</h4>
						<h4 style="margin-top: 10px" class="home-left-h4">Free home delivery</h4>
					</div>
				</div>

			</div>
			<!-- left -->


			<!-- right -->
			<md-card class="card-border" flex-gt-xs="25" layout-align="center">
				<div class="history-div-height">
					<ng-include src="'views/user/includes/header.html'"></ng-include>
					<div style="overflow: hidden;">
						<div class="history-overflow-height" style="overflow-y: overlay;overflow-x: hidden;margin-right: -20px;padding-right: 20px">
							<div layout="column">
								<h3 class="pl10 pr10">Your order history</h3>

						      	<md-list >
							        <md-list-item class="md-2-line" ng-repeat="item in vmHistory.payments" style="padding: 10px;border-radius: 6px; margin-bottom: 10px;box-shadow: 0 2px 10px 0 rgba(0,0,0,.26);margin-left: 5px;margin-right: 5px;">
							        	<div class="md-list-item-text">
                                            <div layout="row" layout-align="space-between">
									            <p style="font-weight: bold">Order No {{item.order_no}}</p>
                                                <p style="font-weight: bold"><i class="fa fa-inr" aria-hidden="true"></i> {{item.amount}}</p>
                                            </div>

                                            <p>{{item.created_at.slice(0,10)}} {{item.created_at.getTime()}}</p>
                                            <div ng-if="item.veg_count>0">
                                                <p>
                                                    Veg Meal * {{item.veg_count}} : 
                                                    <i class="fa fa-inr" aria-hidden="true"></i> {{item.veg_count*119}}
                                                </p>
                                                
                                            </div>
                                            <div ng-if="item.nonveg_count>0">
                                                <p>
                                                    Non-Veg Meal * {{item.nonveg_count}} : 
                                                    <i class="fa fa-inr" aria-hidden="true"></i> {{item.nonveg_count*139}}
                                                </p>
                                                
                                            </div>
                                            <div ng-if='item.status==true' layout='row' layout-align='space-between'>
                                                <p>Transaction Status : {{item.status==true? 'Success' : 'Failed'}}</p>
                                                <!-- <md-button class="md-raised md-primary" style="margin-top: -18px;margin-right: 0px">Get Invoice</md-button> -->
                                            </div>
									    </div>
							        </md-list-item>
							        <md-divider ></md-divider>
							    </md-list>

							</div>
						</div>
					</div> 
				</div>
				<ng-include src="'views/user/includes/footer.html'"></ng-include>
			</md-card>
			<!-- right -->

		</md-content>
	</div>
</div>



