html
    head
    body
        b Dear Admin,
        br

        p New Apartment Register request from app

        p Apartment Name : #{enquiry.apartment_name}
        p Locality : #{enquiry.locality}
        p Contact person name : #{enquiry.contact_name}
        p Contact person number : #{enquiry.contact_no}
        
        p Thank you
        div Team DialJordan
