html
    head
    body
        b Dear Admin,
        br

        p New Feedback from app

        p Name : #{enquiry.feedback_name}
        p Email : #{enquiry.email}
        p Mobile : #{enquiry.mobileno}
        p Feedback message : #{enquiry.message}
        
        p Thank you
        div Team DialJordan
