<div ng-app="cmsApp" ng-cloak>

    <div ng-controller="pageController as vmPage">
        <ng-include src="'views/user/includes/sidebar.html'"></ng-include>
        
        <md-content layout="row" layout-xs="column" ng-controller="cartController as vmCart" ng-cloak style="height:100%;background-image: url(../images/screen1.jpg);" >
            
            <div id="loader" style="position: fixed; bottom: -13%;left:6.5%;display: none">
                <img src="https://i.stack.imgur.com/h6viz.gif" alt=""  >
            </div>

            <!-- left -->
            <div flex-gt-xs="55" hide-xs>

               <div layout="column" style="padding-top: 10%" layout-align="start start" layout-padding>
                <div style="margin-top: -5%;margin-bottom: -45px;padding-left: 0px">
                  <img src="../images/logo.png" width="200px" height="200px" class="md-card-image" alt="image caption" />
                </div>
                  <div style="margin-left: 5%">
                      <h1 class="home-left-h1">Healthy Home Style Meal</h1>
                      <h1 class="home-left-h1">Free Delivery at your doorstep</h1>
                      <h1 class="home-left-h1">Different Cuisine Everyday</h1>
                      <h1 class="home-left-h1">No More Kitchen Hassles</h1>
                      <h1 class="home-left-h1">No Repeat for 30 days</h1>
                  </div>
                  <div style="margin-left: 5%">
                      <h4 class="home-left-h4">Get veg meals at &#8377 99/- and non veg meals at just &#8377 119/-, organize your schedule </h4>
                      <h4 class="home-left-h4">No more kitchen hassles, Free home delivery</h4>
                  </div>
              </div>

            </div>
            <!-- left -->


      <!-- right -->
      <md-card class="card-border" flex-gt-xs="25" layout-align="center">
        <div style="height:100%">

            <ng-include src="'views/user/includes/header.html'"></ng-include>


            <div style="overflow: hidden;">
                <div style="height: 77%;overflow-y: overlay;overflow-x: hidden;margin-right: -15px;padding-right: 12px">

                   <div layout="row" style="border-bottom: 2px solid #eee;margin-right: 13px;margin-left: 10px" layout-padding>
                     <div>
                       <h4 class="mb5" style="letter-spacing: 1px;margin-top: 10px;font-size: 20px">User Id</h4> 
                       <h4 class="greyfont mt5 font-weight400" style="margin-bottom: 5px" ng-model="vmCart.userPhone" ng-bind="vmCart.userPhone"></h4>
                   </div>
               </div>

               <form style="margin-bottom: 0px;padding-right: 13px;padding-left: 13px">
                  <div layout="column">
                      <div layout="row" layout-align="space-between center" layout-padding class="bt-1-s-eee" style="padding: 12px 8px">
                        <label class="pt0 pb0 letter-space1">Meal Time</label>
                        <a ng-bind="vmCart.mealTime" class="pt0 pb0 whitebgcolor border-none font-weight600 text-right"></a>  
                    </div>
                    <div layout="row" layout-align="space-between center" layout-padding class="bt-1-s-eee" style="padding: 12px 8px">
                        <label class="pt0 pb0 letter-space1">Meal Type</label>
                        <a ng-bind="vmCart.mealType" class="pt0 pb0 whitebgcolor border-none font-weight600 text-right"></a>  
                    </div>
                    <div layout="row" layout-align="space-between center" layout-padding class="bt-1-s-eee" style="padding: 12px 8px">
                        <label class="pt0 pb0 letter-space1">Veg Meals</label>
                        <a ng-bind="vmCart.vegAmt" class="pt0 pb0 whitebgcolor border-none font-weight600 text-right"></a>  
                    </div>
                    <div layout="row" layout-align="space-between center" layout-padding class="bt-1-s-eee" style="padding: 12px 8px">
                        <label class="pt0 pb0 letter-space1">Non-Veg Meals</label>
                        <a ng-bind="vmCart.nvegAmt" class="pt0 pb0 whitebgcolor border-none font-weight600 text-right"></a>  
                    </div>
                    <div layout="row" layout-align="space-between center" layout-padding class="bt-1-s-eee" style="padding: 12px 8px">
                        <label class="pt0 pb0 letter-space1">Total Amount :</label>
                        <a ng-bind="vmCart.mealCost" class="pt0 pb0 whitebgcolor border-none font-weight600 text-right"></a>  
                    </div>
                    <div layout="row" layout-align="space-between center" layout-padding class="bt-1-s-eee" style="padding: 12px 8px">
                        <label class="pt0 pb0 letter-space1">GST :</label>
                        <a ng-bind="vmCart.gst" class="pt0 pb0 whitebgcolor border-none font-weight600 text-right"></a>  
                    </div>
                    <div layout="row" layout-align="space-between center" layout-padding class="bt-1-s-eee" style="padding: 12px 8px">
                        <label class="pt0 pb0 letter-space1">Net Payable Amount :</label>
                        <a ng-bind="vmCart.total" class="pt0 pb0 whitebgcolor border-none font-weight600 text-right"></a>  
                    </div>
                </div>
            </form>

            <!-- payment -->
            <form style="margin-bottom: 0px">
<!--                     <div layout="row" layout-align="center center" style="display:none">
                        <input type="text" ng-value="vmCart.userPhone" id="userPhone" class="width25"/>
                        <input type="text" ng-value="vmCart.address" id="address" class="width25"/>
                        <input type="text" ng-value="vmCart._id" id="su_id" class="width25"/>
                        <input type="text" ng-value="vmCart.total" id="total" class="width25"/>
                    </div> -->
                    <div layout="row" layout-align="center center">
                        <md-button id="payBtn" ng-click="paynow()" class="md-raised" style="width:180px;border-radius: 50px;background: linear-gradient(to right, #c02425, #f0cb35);color:white;font-size: 18px;margin: 19px 0px;height: 45px;letter-spacing: 3px">Pay Now
                        </md-button>
                    </div>
                </form>
                
<!--                 <form method='POST' action='https://payments.airpay.co.in/pay/index.php' id='sendtoairpay'>
                  <div layout="row" layout-align="center center" style="display: none">
                      <input type="text" name='privatekey' id='privatekey' class="width25"/>
                      <input type="text" id="mid" name='mercid' class="width25"/>
                      <input type="text" id="orderid" name='orderid' class="width25"/>
                      <input type="text" id="buyerAddress" name='buyerAddress' class="width25"/>
                      <input type="text" id="buyerPhone" name='buyerPhone' class="width25"/>
                      <input type="text" id="amount" name='amount' class="width25"/>
                      <input type="text" id="checksum" name='checksum' class="width25"/>
                      <input type="text" value=356 name='currency' class="width25"/>
                      <input type="text" value="INR" name='isocurrency' class="width25"/>
                      <input type="text" value="pg" name='chmod' class="width25"/>
                  </div>
              </form> -->

              <!-- payment -->

          </div>
      </div>              

      <ng-include src="'views/user/includes/footer.html'"></ng-include>

  </div>

</md-card>
<!-- right -->

</md-content>
</div>

</div>

<!--                     <md-slider flex md-discrete ng-model="rating1" step="1" min="1" max="5" aria-label="rating"></md-slider> -->


