<div ng-app="cmsApp" ng-cloak>

    <div ng-controller="pageController as vmPage">
        <ng-include src="'views/user/includes/sidebar.html'"></ng-include>
        
        <md-content layout="row" class="md-content-bgimage" layout-xs="column" ng-controller="cartController as vmCart" ng-cloak style="height:100%;" >
            
<!--             <div id="loader" style="position: fixed; bottom: -13%;left:6.5%;display: none">
                <img src="https://i.stack.imgur.com/h6viz.gif" alt=""  >
            </div> -->

<!-- left -->
    <div flex-gt-xs="55" hide-xs>

       <div layout="column" style="padding-top: 10%" layout-align="start start" layout-padding>
        <div style="margin-top: -15%;margin-bottom: 24px;padding-left: 0px">
          <img src="../images/white-logo.png" width="200px" height="200px" class="md-card-image" alt="image caption">
        </div>
        <div style="margin-left: 5%">
          <h1 style="margin-bottom: 0px" class="home-left-h1">No Repeat for 30 days</h1>
          <h1 style="margin-bottom: 0;margin-top: 10px" class="home-left-h1">Healthy Home Style Meal</h1>
          <h1 style="margin-bottom: 0;margin-top: 10px" class="home-left-h1">No More Kitchen Hassles</h1>
          <h1 style="margin-bottom: 0;margin-top: 10px" class="home-left-h1">Different Cuisine Everyday</h1>
          <h1 style="margin-top: 10px" class="home-left-h1">Free Delivery at your doorstep</h1>
            </div>
            <div style="margin-left: 5%">
              <h4 style="margin-bottom: 0px" class="home-left-h4">Get veg meals at &#8377 119/- and non veg meals at just &#8377 139/-,</h4>
              <h4 style="margin-bottom: 0px;margin-top: 10px" class="home-left-h4">organize your schedule No more kitchen hassles,</h4>
              <h4 style="margin-top: 10px" class="home-left-h4">Free home delivery</h4>
        </div>
       </div>
    
    </div>
<!-- left -->


      <!-- right -->
      <md-card class="card-border" flex-gt-xs="25" layout-align="center">
        <div class="cart-div-height">

            <ng-include src="'views/user/includes/header.html'"></ng-include>


            <div style="overflow: hidden;">
                <div class="cart-overflow-height" style="overflow-y: overlay;overflow-x: hidden;margin-right: -15px;padding-right: 12px">

                   <div layout="row" style="border-bottom: 2px solid #eee;margin-right: 13px;margin-left: 10px" layout-padding>
                     <div>
                       <h4 class="mb5" style="letter-spacing: 1px;margin-top: 10px;font-size: 20px" ng-bind="vmCart.userName"></h4> 
                       <h4 class="greyfont mt5 font-weight400" style="margin-bottom: 5px" ng-model="vmCart.userPhone" ng-bind="vmCart.userPhone"></h4>
                   </div>
               </div>

               <form style="margin-bottom: 0px;padding-right: 13px;padding-left: 13px">
                  <div layout="column">
                      <div layout="row" layout-align="space-between center" layout-padding class="bt-1-s-eee" style="padding: 12px 8px">
                        <label class="pt0 pb0 letter-space1">Meal Time</label>
                        <a ng-bind="vmCart.category" class="pt0 pb0 whitebgcolor border-none font-weight600 text-right"></a>  
                    </div>
                    <div layout="row" layout-align="space-between center" layout-padding class="bt-1-s-eee" style="padding: 12px 8px">
                        <label class="pt0 pb0 letter-space1">Meal Type</label>
                        <a ng-bind="vmCart.meal_type" class="pt0 pb0 whitebgcolor border-none font-weight600 text-right"></a>  
                    </div>
                    <div layout="row" layout-align="space-between center" layout-padding class="bt-1-s-eee" style="padding: 12px 8px">
                        <label class="pt0 pb0 letter-space1">Veg Meals * {{vmCart.veg_count}}</label>
                        <a ng-bind="vmCart.vegAmt" class="pt0 pb0 whitebgcolor border-none font-weight600 text-right"></a>  
                    </div>
                    <div layout="row" layout-align="space-between center" layout-padding class="bt-1-s-eee" style="padding: 12px 8px">
                        <label class="pt0 pb0 letter-space1">Non-Veg Meals * {{vmCart.nveg_count}}</label>
                        <a ng-bind="vmCart.nvegAmt" class="pt0 pb0 whitebgcolor border-none font-weight600 text-right"></a>  
                    </div>
                    <div layout="row" layout-align="space-between center" layout-padding class="bt-1-s-eee" style="padding: 12px 8px">
                        <label class="pt0 pb0 letter-space1">Total Amount (INR):</label>
                        <a ng-bind="vmCart.mealCost" class="pt0 pb0 whitebgcolor border-none font-weight600 text-right"></a>  
                    </div>
                    <div layout="row" layout-align="space-between center" layout-padding class="bt-1-s-eee" style="padding: 12px 8px">
                        <label class="pt0 pb0 letter-space1">GST (INR):</label>
                        <a ng-bind="vmCart.gst" class="pt0 pb0 whitebgcolor border-none font-weight600 text-right"></a>  
                    </div>
                    <div layout="row" layout-align="space-between center" layout-padding class="bt-1-s-eee" style="padding: 12px 8px">
                        <label class="pt0 pb0 letter-space1">Net Payable Amount (INR):</label>
                        <a ng-bind="vmCart.total" class="pt0 pb0 whitebgcolor border-none font-weight600 text-right"></a>  
                    </div>
                </div>
            </form>

            <!-- payment -->
            <form style="margin-bottom: 0px">
                <div layout="row" layout-align="center center" style="display:none">
                    <input type="text" ng-value="vmCart.name" id="name" class="width251"/>
                    <input type="text" ng-value="vmCart.userPhone" id="userPhone" class="width251"/>
                    <input type="text" ng-value="vmCart.userPhone" id="orderid" class="width251"/>
                    <input type="text" ng-value="vmCart.address" id="address" class="width251"/>
                    <input type="text" ng-value="vmCart.total" id="total" class="width251"/>
                    <input type="text" ng-value="vmCart.email" id="email" class="width251"/>
                </div>
                <div layout="col" layout-align="center center" class="cart-btn-div">
                    <md-button id="payBtn" ng-click="paynow()" class="md-raised cart-pay-btn" >Pay Now
                    </md-button>
<!--                     <md-button id="payBtn" ng-click="modify()" class="md-raised cart-pay-btn" >Modify
                    </md-button> -->

                    <div id="loader" style="position: fixed;display: none">
                        <img src="https://i.stack.imgur.com/h6viz.gif" alt=""  >
                    </div>
                </div>
            </form>
                
                <form name="paymentForm" method='POST' action="https://payments.airpay.co.in/pay/index.php" id='sendtoairpay'>
                  <div layout="row" layout-align="center center" style="display: none">
                      <input type="text" name='privatekey' id='privatekey' class="width251"/>
                      <input type="text" id="mid" name='mercid' class="width251"/>
                      <input type="text" id="orderid1" name='orderid' class="width251"/>
                      <input type="text" id="buyerAddress" name='buyerAddress' class="width251"/>
                      <input type="text" id="buyerPhone" name='buyerPhone' class="width251"/>
                      <input type="text" id="amount" name='amount' class="width251"/>
                      <input type="text" id="checksum" name='checksum' class="width251"/>
                      <input type="text" value=356 name='currency' class="width251"/>
                      <input type="text" value="INR" name='isocurrency' class="width251"/>
                      <input type="text" value="" name='chmod' class="width251"/>
                      <input type="submit" value="pay"/>
                  </div>
              </form>

              <!-- payment -->

          </div>
      </div>              

      <ng-include src="'views/user/includes/footer.html'"></ng-include>

  </div>

</md-card>
<!-- right -->

</md-content>
</div>

</div>

<!--                     <md-slider flex md-discrete ng-model="rating1" step="1" min="1" max="5" aria-label="rating"></md-slider> -->


