<div ng-app="cmsApp" ng-cloak>
	<md-content layout="row" layout-xs="column" ng-controller="cartController as vmCart" ng-cloak style="height:100%;background-image: url(../images/screen1.jpg);" >


		<!-- left -->
		<div flex-gt-xs="55" hide-xs>

			<div layout="column" style="padding-top: 10%" layout-align="start start" layout-padding>
				<div style="padding-left: 5%">
					<img src="../images/logo.png" width="300px" height="300px" class="md-card-image" alt="image caption">
				</div>
				<div style="padding-left: 5%;margin-top: -72px">
					<ul>
						<li class="font20 greyfont">Healthy Home Style Meal</li>
						<li class="font20 greyfont">Free Delivery at your doorstep</li>
						<li class="font20 greyfont">Different Cuisine Everyday</li>
						<li class="font20 greyfont">No More Kitchen Hassles</li>
						<li class="font20 greyfont">No Repeat for 30 days</li>
					</ul>
					<h1 class="greyfont font25">Veg Meal Box @ <span style="color: black">&#8377 99</span></h1>
					<h1 class="greyfont font25">Non Veg Meal Box @ <span style="color: black">&#8377 119</span></h1>
				</div>
			</div>
			
		</div>
		<!-- left -->


		<!-- right -->
		<md-card class="card-border" flex-gt-xs="25" layout-align="center" style="margin-top: 6%;margin-bottom: 2%;">
			<div style="height:100%">

				<!-- header -->
				<div layout="row" layout-align="space-between center" layout-padding class="c02425bgcolor height60" style="border-top-left-radius: 15px;border-top-right-radius: 15px">
					<div>
						<i class="fa fa-bars" style="color: white;font-size: 23px" aria-hidden="true"></i>
					</div>
					<div>
						<img src="../images/white-logo.png" width="100px" height="100px" alt="white-logo">
					</div>
					<div>
						<img src="../images/lunch-white.png" width="25px" height="25px" alt="lunch">
					</div>
				</div>
				<!-- header -->
				
				<div layout="row" style="border-bottom: 2px solid #eee;" layout-padding>
					<div>
						<h4 class="greyfont mb5">User Id</h4> 
						<h4 class="greyfont mt5 font-weight400" ng-model="vmCart.userPhone" ng-bind="vmCart.userPhone"></h4>
					</div>
				</div>
				
				<div>
					<form style="margin-bottom: 0px">
						<div layout="column">

							<div layout="row" layout-align="space-between center" layout-padding class="bt-1-s-eee">
								<label class="pt0 pb0">Meal Time</label>
								<a ng-bind="vmCart.mealTime" class="pt0 pb0 whitebgcolor border-none font-weight600 text-right"></a>  
							</div>

							<div layout="row" layout-align="space-between center" layout-padding class="bt-1-s-eee">
								<label class="pt0 pb0">Meal Type</label>
								<a ng-bind="vmCart.mealType" class="pt0 pb0 whitebgcolor border-none font-weight600 text-right"></a>  
							</div>

							<div layout="row" layout-align="space-between center" layout-padding class="bt-1-s-eee">
								<label class="pt0 pb0">Veg Meals</label>
								<a ng-bind="vmCart.vegAmt" class="pt0 pb0 whitebgcolor border-none font-weight600 text-right"></a>  
							</div>

							<div layout="row" layout-align="space-between center" layout-padding class="bt-1-s-eee">
								<label class="pt0 pb0">Non-Veg Meals</label>
								<a ng-bind="vmCart.nvegAmt" class="pt0 pb0 whitebgcolor border-none font-weight600 text-right"></a>  
							</div>

							<div layout="row" layout-align="space-between center" layout-padding class="bt-1-s-eee">
								<label class="pt0 pb0">Total Amount</label>
								<a ng-bind="vmCart.mealCost" class="pt0 pb0 whitebgcolor border-none font-weight600 text-right"></a>  
							</div>

							<div layout="row" layout-align="space-between center" layout-padding class="bt-1-s-eee">
								<label class="pt0 pb0">GST :</label>
								<a ng-bind="vmCart.gst" class="pt0 pb0 whitebgcolor border-none font-weight600 text-right"></a>  
							</div>

							<div layout="row" layout-align="space-between center" layout-padding class="bt-1-s-eee">
								<label class="pt0 pb0">Net Payable Amount :</label>
								<a ng-bind="vmCart.total" class="pt0 pb0 whitebgcolor border-none font-weight600 text-right"></a>  
							</div>

						</form>





						<!-- payment -->

						<form style="margin-bottom: 0px">
<!-- 							<div layout="row" layout-align="center center" style="display:none">
								<input type="text" ng-value="vmCart.userPhone" id="userPhone" class="width25"/>
								<input type="text" ng-value="vmCart.address" id="address" class="width25"/>
								<input type="text" ng-value="vmCart._id" id="su_id" class="width25"/>
								<input type="text" ng-value="vmCart.total" id="total" class="width25"/>
							</div> -->

							<div layout="row" layout-align="center center">
								<md-button ng-click="paynow()" class="md-raised" style="width:120px;border-radius: 50px;background: linear-gradient(to right, #c02425, #f0cb35);color:white;font-size: 18px;margin: 19px 0px;">Pay Now
								</md-button>
							</div>
						</form>
					</div>


<!-- 					<form method='POST' action='https://payments.airpay.co.in/pay/index.php' id='sendtoairpay'>
						<div layout="row" layout-align="center center" style="display: none">
							<input type="text" name='privatekey' id='privatekey' class="width25"/>
							<input type="text" id="mid" name='mercid' class="width25"/>
							<input type="text" id="orderid" name='orderid' class="width25"/>
							<input type="text" id="buyerAddress" name='buyerAddress' class="width25"/>
							<input type="text" id="buyerPhone" name='buyerPhone' class="width25"/>
							<input type="text" id="amount" name='amount' class="width25"/>
							<input type="text" id="checksum" name='checksum' class="width25"/>
							<input type="text" value=356 name='currency' class="width25"/>
							<input type="text" value="INR" name='isocurrency' class="width25"/>
							<input type="text" value="pg" name='chmod' class="width25"/>
						</div>
					</form> -->
				</div>
				<!-- payment -->





				<!-- footer -->
				<div layout="row" style="border-bottom-left-radius:15px;border-bottom-right-radius:15px;background-color:#c02425;height: 60px;border-top: 1px solid #eee;position: fixed;bottom:26px;width: 25%"  layout-align="space-between center" layout-padding >
					<div layout="column" layout-align="center center">
						<i class="fa fa-home" style="color:white;font-size: 25px" aria-hidden="true"></i>
						<span class="whitefont" style="font-size: 12px">Home</span>
					</div>
					<div style="padding-left: 30%" layout="column" layout-align="center center">
						<i class="fa fa-calendar" aria-hidden="true" style="color: white;font-size: 23px"></i>
						<span style="font-size: 12px" class="whitefont">Manage</span>
					</div>
					<div style="padding-left: 12%;">
						<img src="../images/logowhite.png" alt="lunch" style="width: 80px">
					</div>
				</div>
				<!-- footer -->
			</div>       
		</md-card>
		<!-- right -->


	</md-content>
</div>

<!--                     <md-slider flex md-discrete ng-model="rating1" step="1" min="1" max="5" aria-label="rating"></md-slider> -->


