<div ng-app="cmsApp" ng-cloak>
    <md-content class="md-content-bgimage" style="height:100%;" layout="row" layout-xs="column" ng-controller="pageController as vmPage" ng-cloak>

        <!-- left -->
        <div flex-gt-xs="55" hide-xs>

            <div layout="column" style="padding-top: 10%" layout-align="start start" layout-padding>
                <div style="margin-top: -15%;margin-bottom: 24px;padding-left: 0px">
                    <img src="../images/white-logo.png" width="200px" height="200px" class="md-card-image" alt="image caption">
                </div>
                <div style="margin-left: 5%">
                    <h1 style="margin-bottom: 0px" class="home-left-h1">No Repeat for 30 days</h1>
                    <h1 style="margin-bottom: 0;margin-top: 10px" class="home-left-h1">Healthy Home Style Meal</h1>
                    <h1 style="margin-bottom: 0;margin-top: 10px" class="home-left-h1">No More Kitchen Hassles</h1>
                    <h1 style="margin-bottom: 0;margin-top: 10px" class="home-left-h1">Different Cuisine Everyday</h1>
                    <h1 style="margin-top: 10px" class="home-left-h1">Free Delivery at your doorstep</h1>
                </div>
                <div style="margin-left: 5%">
                    <h4 style="margin-bottom: 0px" class="home-left-h4">Get veg meals at &#8377 119/- and non veg meals at just &#8377 139/-,</h4>
                    <h4 style="margin-bottom: 0px;margin-top: 10px" class="home-left-h4">organize your schedule No more kitchen hassles,</h4>
                    <h4 style="margin-top: 10px" class="home-left-h4">Free home delivery</h4>
                </div>
            </div>

        </div>
        <!-- left -->
        
        
        <!-- right -->
        <md-card class="card-border" flex-gt-xs="25" layout-align="center">
            <div class="signup-div-height">

                <!-- white-header -->
                <div class="white-header">
                </div>
                <!--white-header-->

                <div style="overflow: hidden;">
                    <div class="signup-overflow-height" style="overflow-y: overlay;overflow-x: hidden;margin-right: -15px;padding-right: 15px">
                        <div layout="column" layout-align="center center">  
                            <div class="signup-card-img">
                                <img src="../images/logo.png" widht="300px" height="300px" class="md-card-image" alt="image caption">
                            </div>
                            <div style="margin-top: -100px;" class="signup-card-content signup-car-form">
                                <h4 class="greyfont letter-space1">Healthy home style food</h4>
                            </div>
                            <md-button class="md-raised md-primary" ng-click="catHome()" style="zoom:1.3">Home</md-button>
                            <md-button class="md-raised md-primary" ng-href='/enquiry?subject=School Enquiry' style="zoom:1.3">School</md-button>
                            <md-button class="md-raised md-primary" ng-href='/enquiry?subject=Corporate Enquiry' style="zoom:1.3">Corporate</md-button>
                            <md-button class="md-raised md-primary" ng-href='/enquiry?subject=Party Enquiry' style="zoom:1.3">Party</md-button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- white-footer -->
            <div class="white-footer">
            </div>
            <!-- white-footer -->
        </md-card>
        <!-- right -->
    </md-content>
</div>