<div ng-app="cmsApp" ng-cloak>
	<md-content class="height600" layout="row" layout-xs="column" ng-controller="homeController as vmHome" ng-cloak >
         <md-card flex-offset-gt-xs="55" flex-gt-xs="25" flex="100" layout-align="center">
           <div layout="column" layout-align="center center" style="padding-bottom:124px; margin-top: -100px">
			<img src="../images/logo.png" widht="300px" height="300px" class="md-card-image pl10" alt="image caption">
			
			<h4 class="greyfont letter-space1" style="margin-top: -66px">Healthy home cooked food</h4>
		   </div>
           <div layout="column" layout-align="center center">
			<h4 class="greyfont letter-space1">Sign in with dJ Fresh</h4>
		  <div layout="row">
			<div>	
			    <md-button class="md-raised home-signup-btn" href="/signup">Log in</md-button>
		    </div>
		  </div>
		</div>
		</md-card>
	</md-content>
</div>

