<div ng-app="cmsApp" ng-cloak>
<body>
<ng-include src="'views/user/common/header.html'"></ng-include>
<md-content ng-controller="homeController as vmHome" layout-padding ng-cloak>
  <div layout-gt-xs="row">
    <div flex-gt-xs>
      <h3>Mobile Number</h3>
  		<md-content class="md-no-momentum">
	    	<md-input-container md-no-float class="md-block">
	      		<!-- <md-icon md-svg-src="img/icons/ic_phone_24px.svg"></md-icon> -->
	      			<input ng-model="vmHome.phone" type="text" placeholder="Phone Number">
	    	</md-input-container>
	     <md-button class="md-raised md-primary" ng-click="sendOtp()">send OTP</md-button>
	 </md-content>
    </div>
  </div>
</md-content>
<ng-include src="'views/user/common/footer.html'"></ng-include>
</body>
</div>