<div ng-app="cmsApp" ng-cloak>

	<div ng-controller="pageController as vmPage">
		<ng-include src="'views/user/includes/sidebar.html'"></ng-include>


		<md-content class="md-content-bgimage" layout="row" layout-xs="column" ng-controller="profileController as vmProfile" ng-cloak style="height:100%;" >

			<div id="loader" style="position: fixed; bottom: -13%;left:6.5%;display: none">
				<img src="https://i.stack.imgur.com/h6viz.gif" alt=""  >
			</div>

			<!-- left -->
			<div flex-gt-xs="55" hide-xs>

				<div layout="column" style="padding-top: 10%" layout-align="start start" layout-padding>
					<div style="margin-top: -15%;margin-bottom: 24px;padding-left: 0px">
						<img src="../images/white-logo.png" width="200px" height="200px" class="md-card-image" alt="image caption">
					</div>
					<div style="margin-left: 5%">
						<h1 style="margin-bottom: 0px" class="home-left-h1">No Repeat for 30 days</h1>
						<h1 style="margin-bottom: 0;margin-top: 10px" class="home-left-h1">Healthy Home Style Meal</h1>
						<h1 style="margin-bottom: 0;margin-top: 10px" class="home-left-h1">No More Kitchen Hassles</h1>
						<h1 style="margin-bottom: 0;margin-top: 10px" class="home-left-h1">Different Cuisine Everyday</h1>
						<h1 style="margin-top: 10px" class="home-left-h1">Free Delivery at your doorstep</h1>
					</div>
					<div style="margin-left: 5%">
						<h4 style="margin-bottom: 0px" class="home-left-h4">Get veg meals at &#8377 119/- and non veg meals at just &#8377 139/-,</h4>
						<h4 style="margin-bottom: 0px;margin-top: 10px" class="home-left-h4">organize your schedule No more kitchen hassles,</h4>
						<h4 style="margin-top: 10px" class="home-left-h4">Free home delivery</h4>
					</div>
				</div>

			</div>
			<!-- left -->


			<!-- right -->
			<md-card class="card-border" flex-gt-xs="25" layout-align="center">
				<div class="profile-div-height">
					<ng-include src="'views/user/includes/header.html'"></ng-include>
					<div style="overflow: hidden;">
						<div class="profile-overflow-height" style="overflow-y: overlay;overflow-x: hidden;margin-right: -15px;padding-right: 12px">

							<div layout="row" layout-align="space-between center" layout-padding>
								<div>
									<h3 class="mt0 mb0">PROFILE INFO</h3>
								</div>

								<div>
                                    <md-switch style="color: #E79B30;" class="mt0 mb0" ng-model="vmProfile.swtich" ng-click="editProfile()">Edit</md-switch>
								</div>
							</div>


							<!-- 							<md-button style="margin-left: 10px" class="md-raised" aria-label="description" ng-click="editProfile()">Edit</md-button> -->

							<form id="profileForm">
								<fieldset ng-disabled="vmProfile.isDisabled" class="form-fieldset" style="border: none;">
									<div layout="column">

										<div layout="row" layout-align="space-between center" layout-padding class="profileForm bt-1-s-eee form-div" style="padding: 4px 0px;">
											<label style="color: #E79B30;" class="pt0 pb0 pl0 letter-space1">Name</label>
											<input name="name" style="background-color: white;border: none;text-align: right" ng-model="vmProfile.subscription.user_id.name" placeholder="Name">
										</div>
										<div layout="row" layout-align="space-between center" layout-padding class="profileForm bt-1-s-eee form-div" style="padding: 4px 0px;">
											<label style="color: #E79B30;" class="pt0 pb0 pl0 letter-space1">Mobile No (fixed)</label>
											<input name="mobileno"  style="background-color: white;border: none;text-align: right" ng-model="vmProfile.subscription.user_id.mobileno" placeholder="Mobile" readonly> 
										</div>
										<div layout="row" layout-align="space-between center" layout-padding class="profileForm bt-1-s-eee form-div" style="padding: 4px 0px;">
											<label style="color: #E79B30;" class="pt0 pb0 pl0 letter-space1">Email</label>
											<input name="email"  style="background-color: white;border: none;text-align: right" ng-model="vmProfile.subscription.user_id.email" type="email" placeholder="Email">  
										</div>
										<div layout="row" layout-align="space-between center" layout-padding class="profileForm bt-1-s-eee form-div" style="padding: 4px 0px;">
											<label style="color: #E79B30;" class="pt0 pb0 pl0 letter-space1">Door No</label>
										    <input name="door_no"  style="background-color: white;border: none;text-align: right" ng-model="vmProfile.subscription.user_id.door_no" placeholder="Door Number">
                                        </div>
										<div layout="row" layout-align="space-between center" class="profileForm bt-1-s-eee form-div">
											<label style="color: #E79B30;" class="pt0 pb0 pl0 letter-space1">Apartment</label>
											
                                            <md-autocomplete class="p0"
                                                ng-disabled="vmProfile.isDisabledApt"
                                                md-no-cache="true"
                                                md-input-name="apartment_name"
                                                md-selected-item="vmProfile.selectedItemApt"
                                                md-search-text-change="vmProfile.searchTextChangeApt(vmProfile.searchTextApt)"
                                                md-search-text="vmProfile.searchTextApt"
                                                md-selected-item-change="vmProfile.selectedItemChangeApt(item)"
                                                md-items="item in vmProfile.querySearchApt(vmProfile.searchTextApt)"
                                                md-item-text="item.apartment_name"
                                                md-min-length="3"
                                                placeholder="{{vmProfile.subscription.user_id.apartment_name}}">
                                                <md-item-template>
                                                    <span md-highlight-text="vmProfile.searchTextApt" md-highlight-flags="^i">{{item.apartment_name}}</span>
                                                </md-item-template>
                                                <md-not-found>
                                                    Apartment Not found
                                                </md-not-found>
                                            </md-autocomplete>
                                            <input type="hidden" name="apartment_id" value={{vmProfile.apartment_id}} > 
										</div>
                                        <div layout="row" layout-align="space-between center" class="profileForm bt-1-s-eee form-div">
                                            <label style="color: #E79B30;" class="pt0 pb0 pl0 letter-space1">Tower Name/Number</label>

                                            <md-autocomplete class="p0"
                                                ng-disabled="vmProfile.isDisabledTwr"
                                                md-selected-item="vmProfile.selectedItemTwr"
                                                md-input-name="tower_name"
                                                md-search-text-change="vmProfile.searchTextChangeTwr(vmProfile.searchTextTwr)"
                                                md-search-text="vmProfile.searchTextTwr"
                                                md-selected-item-change="vmProfile.selectedItemChangeTwr(item)"
                                                md-items="item in vmProfile.querySearchTwr(vmProfile.searchTextTwr)"
                                                md-item-text="item"
                                                md-min-length="1"
                                                placeholder="{{vmProfile.subscription.user_id.tower_name}}">
                                                <md-item-template>
                                                    <span md-highlight-text="vmProfile.searchTextTwr" md-highlight-flags="^i">{{item}}</span>
                                                </md-item-template>
                                                <md-not-found>
                                                    Tower not found. 
                                                </md-not-found>
                                            </md-autocomplete>

                                            <!-- <input type="hidden" name="tower_name" ng-model="vmProfile.tower">  -->
                                        </div>
										<div layout="row" layout-align="center" layout-padding class="profileForm bt-1-s-eee form-div" style="padding: 20px 0px;">
										    <md-button class="md-raised home-signup-btn"  aria-label="description" ng-click="submit()">update</md-button>
										</div>

									</div>
								</fieldset>
							</form>


						</div>
					</div> 
				</div>
				<ng-include src="'views/user/includes/footer.html'"></ng-include>
			</md-card>
			<!-- right -->

		</md-content>
	</div>
</div>

<!--                     <md-slider flex md-discrete ng-model="rating1" step="1" min="1" max="5" aria-label="rating"></md-slider> -->


