<div ng-app="cmsApp" ng-cloak>
<body>
<ng-include src="'views/user/common/header.html'"></ng-include>
<md-content flex layout="column" ng-controller="signupController as vmSignup" ng-cloak>
	<form name="userForm">
		<md-card>
			<md-card-content>
				<md-input-container>
				    <label>Mobileno</label>
				    <input required type="text" name="mobileno" ng-model="userForm.Mmobileno" maxlength="10" md-maxlength="10" ng-pattern="/^[0-9]+$/"/>
				</md-input-container><br>
				<md-card-actions>
					<md-button ng-click="sendOtp(userForm)">Submit</md-button>
				</md-card-actions>
			</md-card>
		</form>
	</md-content>
<md-content flex layout="column" ng-controller="signupController as vmSignup" ng-cloak>
	<form name="otpForm">
		<md-card>
			<md-card-content>
				<md-input-container>
				    <label>Mobileno</label>
				    <input required type="text" name="otp" ng-model="otpForm.Motp" maxlength="10" />
				</md-input-container><br>
				<md-card-actions>
					<md-button ng-click="sendOtp(userForm)">Submit</md-button>
				</md-card-actions>
			</md-card>
		</form>
	</md-content>
<ng-include src="'views/user/common/footer.html'"></ng-include>
</body>
</div>