<div ng-app="cmsApp" ng-cloak>
	<md-content layout="row" layout-xs="column" ng-controller="signupController as vmSignup" ng-cloak class="height600">

		<md-card flex-offset-gt-xs="55" flex-gt-xs="25" flex="100" layout-align="center">
		  <div layout="column" layout-align="center center">	
			<div>
			   <img src="../images/logo.png" widht="300px" height="300px" class="md-card-image pl10 pt20" alt="image caption">
            </div>
			<div>
               <h4 class="greyfont mt-80">Healthy home cooked food</h4>
            </div>
			<div layout="row" layout-align="center center" >
			  <span class="dot">1</span>
              <span class="line"></span>
			  <span class="dot">2</span>
			  <span class="line"></span>
			  <span class="dot">3</span>
			</div>	
			<div class="mt16">
			  <span class="indianredfont font-weightbold">Phone</span>
              <span class="line1"></span>
			  <span class="greyfont">Verify</span>
			  <span class="line2"></span>
			  <span class="greyfont">Preferance</span>
			</div>
		  </div>	
			<form name="userForm" class="pt179">
				<h4 class="greyfont" layout="row" layout-align="center center">Enter your phone number</h4>
				<md-card-content layout="column"  layout-padding layout-margin >
					<md-input-container>
						<label>Phone Number</label>
						<input required type="text" name="mobileno" ng-model="userForm.Mmobileno" maxlength="10" ng-pattern="/^[0-9]+$/"/>
					</md-input-container>
					<div layout="row" layout-align="center center">
					<md-button class="md-raised signup-submit-btn" ng-click="sendOtp(userForm)">Submit</md-button>
				</div>
				</md-card-content>
			</form>
			
		</md-card>
	</md-content>
</div>