<div ng-app="cmsApp" ng-cloak>
	<md-content class="md-content-bgimage" style="height:100%;" layout="row" layout-xs="column" ng-controller="signupController as vmSignup" ng-cloak>

<!--         <div id="loader" style="position: fixed; bottom: -13%;left:6.5%;display: none">
            <img src="https://i.stack.imgur.com/h6viz.gif" alt=""  >
        </div> -->


        <!-- left -->
        <div flex-gt-xs="55" hide-xs>

        	<div layout="column" style="padding-top: 10%" layout-align="start start" layout-padding>
        		<div style="margin-top: -15%;margin-bottom: 24px;padding-left: 0px">
        			<img src="../images/white-logo.png" width="200px" height="200px" class="md-card-image" alt="image caption">
        		</div>
        		<div style="margin-left: 5%">
        			<h1 style="margin-bottom: 0px" class="home-left-h1">No Repeat for 30 days</h1>
        			<h1 style="margin-bottom: 0;margin-top: 10px" class="home-left-h1">Healthy Home Style Meal</h1>
        			<h1 style="margin-bottom: 0;margin-top: 10px" class="home-left-h1">No More Kitchen Hassles</h1>
        			<h1 style="margin-bottom: 0;margin-top: 10px" class="home-left-h1">Different Cuisine Everyday</h1>
        			<h1 style="margin-top: 10px" class="home-left-h1">Free Delivery at your doorstep</h1>
        		</div>
        		<div style="margin-left: 5%">
        			<h4 style="margin-bottom: 0px" class="home-left-h4">Get veg meals at &#8377 119/- and non veg meals at just &#8377 139/-,</h4>
        			<h4 style="margin-bottom: 0px;margin-top: 10px" class="home-left-h4">organize your schedule No more kitchen hassles,</h4>
        			<h4 style="margin-top: 10px" class="home-left-h4">Free home delivery</h4>
        		</div>
        	</div>

        </div>
        <!-- left -->
        
        
        <!-- right -->
        <md-card class="card-border" flex-gt-xs="25" layout-align="center">
        	<div class="signup-div-height">

				<!-- white-header -->
				<div class="white-header">
				</div>
				<!--white-header-->

        	
				<div style="overflow: hidden;">
					<div class="signup-overflow-height" style="overflow-y: overlay;overflow-x: hidden;margin-right: -15px;padding-right: 15px">


        		<div layout="column" layout-align="center center">	
        			<div class="signup-card-img">
        				<img src="../images/logo.png" widht="300px" height="300px" class="md-card-image" alt="image caption">
        			</div>
        			<div style="margin-top: -100px;" class="signup-card-content signup-car-form">
        				<h4 class="greyfont letter-space1">Healthy home style food</h4>
        			</div>
        			<div layout="row" layout-align="center center" >
        				<span style="margin-right: -1px" class="dot">1</span>
        				<span style="margin-right: -1px" class="line"></span>
        				<span style="margin-right: -1px" class="dot">2</span>
        				<span style="margin-right: -1px" class="line"></span>
        				<span class="dot">3</span>
        			</div>	
        			<div class="mt16">
        				<span style="color:#c02425" class="font-weightbold letter-space1 signup-dot-text">Phone</span>
        				<span class="line1"></span>
        				<span class="greyfont signup-dot-text">Verify</span>
        				<span class="line2"></span>
        				<span class="greyfont signup-dot-text">Order</span>
        			</div>
        		</div>	

        		<form name="userForm" class="signup-card-form">
        			<h4 class="greyfont letter-space2" layout="row" layout-align="center center">Enter your phone number</h4>
        			<div layout="column"  layout-padding layout-margin class="ml0 mr0 pl0 pr0">
<!--         				<div layout="row" layout-align="center center" layout-padding class="pl0 pr0 ml0 mr0">
        					<input type="text" style="width: 70px ;border: 1px solid #eee;background-color: white" value="+91" disabled>
        					<input 
        					style="border: 1px solid #eee;" 
        					flex required type="text" 
        					name="mobileno" 
        					ng-model="vmSignup.mobileno" 
        					maxlength="10" 
        					ng-pattern="/^[0-9]+$/" 
        					placeholder="Phone Number">

        				</div> -->


			<div layout="row" layout-align="center center" layout-padding layout-margin class="mt0">
				<div class="otp-otpbtn-div">
					<input class="otp-otpbtn-inp" placeholder="Phone Number" type="text" name="mobileno"
                            maxlength="10"   
        					ng-pattern="/^[0-9]+$/" 
                            ng-model="vmSignup.mobileno" 
                            style="outline: none;" required />
					<md-button id="sendOTP" class="otp-otpbtn-btn" ng-click="sendOtp(userForm)" ><img src="../images/checked.svg" alt="submit" style="height: 36px;width: 36px;margin-left: -3px;margin-top: 0px"></img></md-button>

                    <div id="loader" class="signup-loader">
                    	<img src="https://i.stack.imgur.com/h6viz.gif" alt=""  >
                    </div>

				</div>
            </div>




<!--         			<div layout="row" layout-align="center center">



					<md-button 
                    id="sendOTP"
					ng-click="sendOtp(userForm)"
                    id='submit' 
                    ng-bind='vmSignup.submit' 

                    >Submit</md-button>

                    <div id="loader" style="position: fixed;display: none">
                    	<img src="https://i.stack.imgur.com/h6viz.gif" alt=""  >
                    </div>
                </div> -->
            </div>
        </form>
    </div>
    </div>
    </div>

			<!-- white-footer -->
			<div class="white-footer">
			</div>
			<!-- white-footer -->

</md-card>
<!-- right -->


</md-content>
</div>