<div ng-app="cmsApp" ng-cloak>
    <md-content flex layout="row" ng-controller="subscriptionController as vmSubscription" ng-cloak style='height: 600px'>
        <div flex-offset="30" hide-xs hide-sm></div>
        <md-card flex layout-align="center">
            <form name="userForm">
                <md-card-content layout="column"  layout-padding layout-margin >
                    <md-input-container>
                        <label>MealType</label>
                        <md-select ng-model="weapon" placeholder="MealType" class="md-no-underline">
                          <md-option value="veg">Veg</md-option>
                          <md-option value="nonveg">Non-Veg</md-option>
                          <md-option value="wand">Both</md-option>
                      </md-select>
                  </md-input-container>
                  <md-input-container>
                    <label>Email Address</label>
                    <input required type="number" name="mobileno" ng-model="userForm.Mmobileno" maxlength="10" md-maxlength="10" ng-pattern="/^[0-9]+$/"/>
                    <md-slider flex md-discrete ng-model="rating1" step="1" min="1" max="5" aria-label="rating"></md-slider>
                </md-input-container>
                <md-button class="md-raised md-primary" ng-click="sendOtp(userForm)">Submit</md-button>
            </md-card-content>
        </form>
    </md-card>
    <div flex-offset="30" hide-xs hide-sm></div>
</md-content>
</div>