<div ng-app="cmsApp" ng-cloak >

	<div ng-controller="pageController as vmPage">
		<ng-include src="'views/user/includes/sidebar.html'"></ng-include>


		<md-content class="md-content-bgimage" layout="row" layout-xs="column" ng-controller="subscriptionController as vmSubscription" ng-cloak style="height:100%;" >

			<div id="loader" style="position: fixed; bottom: -13%;left:6.5%;display: none">
				<img src="https://i.stack.imgur.com/h6viz.gif" alt=""  >
			</div>
			
<!-- left -->
		<div flex-gt-xs="55" hide-xs>

		   <div layout="column" style="padding-top: 10%" layout-align="start start" layout-padding>
		   	<div style="margin-top: -15%;margin-bottom: 24px;padding-left: 0px">
		   		<img src="../images/white-logo.png" width="200px" height="200px" class="md-card-image" alt="image caption">
		   	</div>
		   	<div style="margin-left: 5%">
	   			<h1 style="margin-bottom: 0px" class="home-left-h1">No Repeat for 30 days</h1>
	   			<h1 style="margin-bottom: 0;margin-top: 10px" class="home-left-h1">Healthy Home Style Meal</h1>
	   			<h1 style="margin-bottom: 0;margin-top: 10px" class="home-left-h1">No More Kitchen Hassles</h1>
	   			<h1 style="margin-bottom: 0;margin-top: 10px" class="home-left-h1">Different Cuisine Everyday</h1>
	   			<h1 style="margin-top: 10px" class="home-left-h1">Free Delivery at your doorstep</h1>
            </div>
            <div style="margin-left: 5%">
            	<h4 style="margin-bottom: 0px" class="home-left-h4">Get veg meals at &#8377 99/- and non veg meals at just &#8377 119/-,</h4>
            	<h4 style="margin-bottom: 0px;margin-top: 10px" class="home-left-h4">organize your schedule No more kitchen hassles,</h4>
            	<h4 style="margin-top: 10px" class="home-left-h4">Free home delivery</h4>
		   	</div>
		   </div>
		
		</div>
<!-- left -->


			<!-- right -->
			<md-card class="card-border subscribe-card-height" flex-gt-xs="25" layout-align="space-between center">
				<div class="subscribe-div-height">
					
					<!-- header -->
					<ng-include src="'views/user/includes/header.html'"></ng-include>
					<!-- header -->
					
					<div style="overflow: hidden;">
						<div class="subscribe-overflow-height" style="overflow-y: overlay;overflow-x: hidden;margin-right: -15px;padding-right: 15px;width:101%">        

							<div style="height: 142px">
								<img src="../images/food3.png" width="100%" height="142px" alt="lunch">
							</div>
							<div layout-padding class="aligncenter subscribe-desc-dic">
								<h5 class="blackffont-weight400 mt0 mb0 subscribe-desc-text">
									The Description of the food will come here. Packed in a beautiful box with branding and will serve...
								</h5>
							</div>
							<div>
								<form style="margin-bottom: 0px">
									<div layout="column">
										<div layout="row" layout-align="space-between center" layout-padding class="bt-1-s-eee" style="padding: 12px 8px">
											<label class="sub-form-label pt0 pb0">Meal Time</label>
											<input type="text" name="" value="Dinner" disabled="true" class="pt0 pb0 whitebgcolor border-none font-weight600 text-right">  
										</div>
										<div layout="row" layout-align="space-between center" layout-padding class="pt0 pb0 bt-1-s-eee subscribe-select-type" style="padding: 4px 8px">
											<label class="sub-form-label pt0 pb0">Meal Type</label>
<!-- 											<select ng-model="mealType" ng-change="selectedMeal(mealType)" class="border-none" style="width: 30%;text-shadow: none !important;background-color: white !important">
												<option value="" disabled style="padding-right: 3px">- Select -</option>
												<option>Veg</option>
												<option>Non Veg</option>
												<option>Both</option>
											</select> -->
                                        <md-input-container class="mt0 mb0 pt0 pb0 pr0">
<!--                                         	<label class="sub-form-label">Meal type</label> -->
											<md-select placeholder="Meal type" ng-model="mealType" ng-change="selectedMeal(mealType)" class="border-none" style="text-shadow: none !important;background-color: white !important">

												<md-option value="Veg">Veg</md-option>
												<md-option value="Non Veg">Non Veg</md-option>
												<md-option value="Both">Both</md-option>
											</md-select>
										</md-input-container>
										</div>

										<div layout="row" layout-align="space-between center" layout-padding class="pt0 pb0 bt-1-s-eee" style="padding: 4px 8px">
											<div class="pt0 pb0">
												<label class="greyfont sub-form-label">No. of Veg Meals</label>
											</div>
											<div class="subscribe-select-meal pt0 pb0 pr0">

<!-- 												<select name="" id="vegCount" ng-model="vmSubscription.vegCount" ng-change="changeVcount(vmSubscription.vegCount)" disabled style="border:none ;width: 60px;text-shadow: none !important;background-color: white !important">
													<option value="5">5</option>
													<option value="10">10</option>
													<option value="20">20</option>
													<option value="30">30</option>
												</select> -->

                                            <md-input-container class="mt0 mb0 pt0 pb0 pr0">
												<md-select placeholder="Veg Meals"  name="" id="vegCount" ng-model="vmSubscription.vegCount" ng-change="changeVcount(vmSubscription.vegCount)" ng-disabled=vmSubscription.vegSelect style="border:none ;text-shadow: none !important;background-color: white !important">
													<md-option value="5">5</md-option>
													<md-option value="10">10</md-option>
													<md-option value="20">20</md-option>
													<md-option value="30">30</md-option>
												</md-select>
                                            </md-input-container>


											</div>
										</div>
										<div layout="row" layout-align="space-between center" layout-padding class="pt0 pb0 bt-1-s-eee" style="padding: 4px 8px">
											<div class="pt0 pb0">
												<label class="greyfont sub-form-label">No. of non Veg Meals</label>
											</div>
											<div class="subscribe-select-meal pt0 pb0 pr0">
<!-- 												<select name="" id="nvegCount" ng-model="vmSubscription.nvegCount" ng-change="changeNVcount(vmSubscription.nvegCount)" disabled style="border:none;width: 60px;text-shadow: none !important;background-color: white !important">
													<option value="5">5</option>
													<option value="10">10</option>
													<option value="20">20</option>
													<option value="30">30</option>
												</select> -->
                                            <md-input-container class="mt0 mb0 pt0 pb0 pr0">
												<md-select placeholder="Non Veg Meals"  name="" id="nvegCount" ng-model="vmSubscription.nvegCount" ng-change="changeNVcount(vmSubscription.nvegCount)" ng-disabled=vmSubscription.nonvegSelect style="border:none;text-shadow: none !important;background-color: white !important">
													<md-option value="5">5</md-option>
													<md-option value="10">10</md-option>
													<md-option value="20">20</md-option>
													<md-option value="30">30</md-option>
												</md-select>
											</md-input-container>



											</div>
										</div>
										
										<div layout="row" layout-align="space-between center" layout-padding class="bt-1-s-eee" style="padding: 12px 8px">
											<label style="width: 100%" class="pt0 pb0 sub-form-label">Total Price :</label>
											<input style="width: 100%" type="number" name="" id="total" value="0" disabled="true" class="pt0 pb0 whitebgcolor font-weight600 border-none text-right">  
										</div>
									</div>

									<div layout="row" layout-align="center center" class="bt-1-s-eee subscribe-btn">
										<md-button id="subscribeBtn" ng-click="subscribe() " class="md-raised sub-buynow-btn">buy Now
										</md-button>
									</div>
								</form>
							</div>
						</div>
					</div>
					
					<ng-include src="'views/user/includes/footer.html'"></ng-include>

				</div>
			</md-card>
			<!-- right -->

		</md-content>
	</div>
</div>

<!--                     <md-slider flex md-discrete ng-model="rating1" step="1" min="1" max="5" aria-label="rating"></md-slider> -->
