<div ng-app="cmsApp" ng-cloak >
	<md-content layout="row" layout-xs="column" ng-controller="subscriptionController as vmSubscription" ng-cloak style="height:100%;background-image: url(../images/screen1.jpg);" >

        <div id="loader" style="position: fixed; bottom: -13%;left:6.5%;display: none">
            <img src="https://i.stack.imgur.com/h6viz.gif" alt=""  >
        </div>
		
<!-- left -->
		<div flex-gt-xs="55" hide-xs>

		   <div layout="column" style="padding-top: 10%" layout-align="start start" layout-padding>
		   	<div style="margin-top: -5%;margin-bottom: -45px;padding-left: 0px">
		   		<img src="../images/logo.png" width="200px" height="200px" class="md-card-image" alt="image caption">
		   	</div>
		   	<div style="margin-left: 5%">
	   			<h1 class="home-left-h1">Healthy Home Style Meal</h1>
	   			<h1 class="home-left-h1">Free Delivery at your doorstep</h1>
	   			<h1 class="home-left-h1">Different Cuisine Everyday</h1>
	   			<h1 class="home-left-h1">No More Kitchen Hassles</h1>
	   			<h1 class="home-left-h1">No Repeat for 30 days</h1>
            </div>
            <div style="margin-left: 5%">
            	<h4 class="home-left-h4">Get veg meals at &#8377 99/- and non veg meals at just &#8377 119/-, organize your schedule </h4>
            	<h4 class="home-left-h4">No more kitchen hassles, Free home delivery</h4>
		   	</div>
		   </div>
		
		</div>
<!-- left -->


<!-- right -->
		<md-card class="card-border" flex-gt-xs="25" layout-align="space-between center">
		  <div  style="height:100%">
        <ng-include src="'views/user/includes/header.html'"></ng-include>

     <div style="overflow: hidden;">
        <div style="height: 77%;overflow-y: overlay;overflow-x: hidden;margin-right: -15px;padding-right: 15px">        

			<div style="height: 142px">
				<img src="../images/food2.jpeg" width="100%" height="142px" alt="lunch">
			</div>
			<div layout-padding class="aligncenter" style="padding-bottom: 20px">
				<h5 class="blackffont-weight400 mt0 mb0">
					The Description of the food will come here. Packed in a beautiful box with branding and will server
				</h5>
			</div>
			<div>
				<form style="margin-bottom: 0px">
					<div layout="column">
						<div layout="row" layout-align="space-between center" layout-padding class="bt-1-s-eee" style="padding: 12px 8px">
							<label class="pt0 pb0">Meal Time</label>
							<input type="text" name="" value="Dinner" disabled="true" class="pt0 pb0 whitebgcolor border-none font-weight600 text-right">  
						</div>
						<div layout="row" layout-align="space-between center" layout-padding class="pt0 pb0 bt-1-s-eee subscribe-select-type" style="padding: 4px 8px">
							<label class="pt0 pb0">Meal Type</label>
							<select ng-model="mealType" ng-change="selectedMeal(mealType)" class="border-none" style="width: 30%">
								<option value="" disabled style="padding-right: 3px">- Select -</option>
								<option>Veg</option>
								<option>Non Veg</option>
								<option>Both</option>
							</select>
						</div>
						<div layout="row" layout-align="space-between center" layout-padding class="pt0 pb0 bt-1-s-eee" style="padding: 4px 8px">
							<div>
								<label class="greyfont">No. of Veg Meals</label>
							</div>
							<div class="subscribe-select-meal" style="margin-right: -9px ">
	                            <select name="" id="vegCount" ng-model="vmSubscription.vegCount" ng-change="changeVcount(vmSubscription.vegCount)" disabled style="border:none ;width: 60px">
	                            	<!-- <option value="" disabled >0</option> -->
	                                <option value="5">5</option>
	                                <option value="10">10</option>
	                                <option value="20">20</option>
	                                <option value="30">30</option>
	                            </select>
                            </div>
						</div>
						<div layout="row" layout-align="space-between center" layout-padding class="pt0 pb0 bt-1-s-eee" style="padding: 4px 8px">
							<div>
								<label class="greyfont">No. of non Veg Meals</label>
							</div>
							<div class="subscribe-select-meal" style="margin-right: -9px">
	                            <select name="" id="nvegCount" ng-model="vmSubscription.nvegCount" ng-change="changeNVcount(vmSubscription.nvegCount)" disabled style="border:none;width: 60px">
	                            	<!-- <option value="" disabled >0</option> -->
	                                <option value="5">5</option>
	                                <option value="10">10</option>
	                                <option value="20">20</option>
	                                <option value="30">30</option>
	                            </select>
                            </div>
						</div>
						
						<div layout="row" layout-align="space-between center" layout-padding class="bt-1-s-eee" style="padding: 12px 8px">
							<label class="pt0 pb0">Total Price :</label>
							<input type="number" name="" id="total" value="0" disabled="true" class="pt0 pb0 whitebgcolor font-weight600 border-none text-right">  
						</div>
					</div>

					<div layout="row" layout-align="center center" class="bt-1-s-eee pt20">
						<md-button id="subscribeBtn" ng-click="subscribe() " class="md-raised sub-buynow-btn">buy Now
						</md-button>
					</div>
				</form>
			</div>
          </div>
      </div>
       
        <ng-include src="'views/user/includes/footer.html'"></ng-include>

          </div>
	    </md-card>
<!-- right -->

</md-content>
</div>

<!--                     <md-slider flex md-discrete ng-model="rating1" step="1" min="1" max="5" aria-label="rating"></md-slider> -->


