<div ng-app="cmsApp" ng-cloak>
    <md-content layout="row" layout-xs="column" ng-controller="cartController as vmCart" ng-cloak class="height600">

        
      <md-card flex-offset-gt-xs="55" flex-gt-xs="25" flex="100" layout-align="center">

<!-- header -->
               <div layout="row" layout-align="space-between center" layout-padding class="c02425bgcolor height60">
                    <div>
                        <i class="fa fa-bars" style="color: white" aria-hidden="true"></i>
                    </div>
                    <div>
                        <img src="../images/white-logo.png" width="100px" height="100px" alt="white-logo">
                    </div>
                    <div>
                        <img src="../images/lunch-white.png" width="25px" height="25px" alt="lunch">
                    </div>
                </div>
<!-- header -->

               
			<div layout="column" layout-align="center center"  layout-padding >

                       <img src="../images/checked.svg" widht="90px" height="90px" alt="submit"></img>
                       <h1 class="mt0 mb0">Thank You!</h1>
                       <h4 class="mt0 mb0">Order Successfull</h4>
                       <h6 class="mt0 mb0">Kindly Share your Door/ Flat No to serve you faster</h6>
			</div>

                
 
                 <form>
	                <div layout="row" layout-align="space-between center" layout-padding class="bt-1-s-eee" style="border-top: 1px solid #eee;">
                  <label class="pt0 pb0">Door/Flat No :</label>
                      <input type="text" name=""  class="pt0 pb0 whitebgcolor font-weight600 border-none text-right">  
                </div>

	                <div layout="row" layout-align="space-between center" layout-padding class="bt-1-s-eee" style="border-top: 1px solid #eee;">
                  <label class="pt0 pb0">Name :</label>
                      <input type="text" name="" class="pt0 pb0 whitebgcolor font-weight600 border-none text-right">  
                </div>
             
                <div layout="row" layout-align="center center" class="bt-1-s-eee">
                  <md-button ng-click="" class="md-raised mb10 mt10" style="width:120px;border-radius: 50px;color:#c02425;font-size: 18px;margin: 19px 0px;border:1px solid #c02425">Update
                  </md-button>
                </div>

                
                <div layout-padding>
                <h5 class="mb0 mt0">Click on the bellow button to manage subscription calender</h5>
                </div>
                
                <div layout="row" layout-align="space-between center" layout-padding>
                  <md-button ng-click="" class="md-raised mt0 mb0" style="width:120px;border-radius: 50px;color:#c02425;font-size: 18px;margin: 19px 0px;border:1px solid #c02425;background-color: white;height: 47px">Help
                  </md-button>

                  <md-button ng-click="" class="md-raised mt0 mb0" style="width:120px;border-radius: 50px;background: linear-gradient(to right, #c02425, #f0cb35);color:white;font-size: 18px;margin: 19px 0px;height: 47px"">Manage
                  </md-button>
                </div>
                </form>



<!-- footer -->
               <div layout="row" style="height: 60px;position: fixed-top;border-top: 1px solid #eee" layout-align="space-between center" layout-padding >
                    <div layout="column" layout-align="center center">
                        <i class="fa fa-home" style="color:#c02425;font-size: 25px" aria-hidden="true"></i>
                        <span style="font-size: 12px">Home</span>
                    </div>
                    <div style="padding-left: 74px" layout="column" layout-align="center center">
                        <i class="fa fa-calendar" aria-hidden="true" style="color: grey;font-size: 25px"></i>
                        <span style="font-size: 12px">Manage</span>
                    </div>
                    <div>
                        <img src="../images/logoBlack.png" alt="lunch" style="width: 80px">
                    </div>
               </div>
<!-- footer -->

    </md-card>

</md-content>
</div>
