<div ng-app="cmsApp" ng-cloak>
	<md-content layout="row" layout-xs="column" ng-controller="signupController as vmSignup" ng-cloak class="height600">

		<md-card flex-offset-gt-xs="55" flex-gt-xs="25" flex="100" layout-align="center">
	

			<form name="userForm" class="pt179">
				<md-content layout="row" layout-align="center center">Thank you</md-content>
				<md-card-content layout="column"  layout-padding layout-margin  >

					<md-button href="/calender/:subId" class="md-raised bgcolorFFC300 whitefont">Submit</md-button>
				</md-card-content>
			</form>
			
		</md-card>
	</md-content>
</div>