<div ng-app="cmsApp" ng-cloak>
<body>
<ng-include src="'views/user/common/header.html'"></ng-include>
<md-content ng-controller="transactionsController as vmTransactions" layout-padding ng-cloak>
  <div layout-gt-xs="row">
    <md-button href="/calender/:subId">Submit</md-button>	
    <div flex-gt-xs>
      <h4>Standard date-picker</h4>
      <md-datepicker ng-model="vmTransactions.myDate" name='myDate' md-placeholder="Enter date"></md-datepicker>
    </div>

  </div>
</md-content>
<ng-include src="'views/user/common/footer.html'"></ng-include>
</body>
</div>