<!-- <div ng-app="cmsApp" ng-cloak>
<body>
<ng-include src="'views/user/common/header.html'"></ng-include>
<md-content ng-controller="userdetailsController as vmUserdetails" layout-padding ng-cloak>
  <div layout-gt-xs="row">
    <div flex-gt-xs>
      <h4>Standard date-picker</h4>
      <md-datepicker ng-model="vmUserdetails.myDate" name='myDate' md-placeholder="Enter date"></md-datepicker>
    </div>
  </div>
</md-content>
<ng-include src="'views/user/common/footer.html'"></ng-include>
</body>
</div> -->
<div ng-app="cmsApp" ng-cloak>
    <md-content flex layout="row" ng-controller="userdetailsController as vmUserdetails" ng-cloak style='height: 600px'>
        <div flex-offset="30" hide-xs hide-sm></div>
        <md-card flex layout-align="center">
            <form name="userForm">
                <md-card-content layout="column"  layout-padding layout-margin >
                    <md-input-container>
                      <md-select ng-model="someModel" placeholder="Choose an Apartment">
                        <md-option ng-value="opt" ng-repeat="opt in neighborhoods2">{{ opt }}</md-option>
                      </md-select>
                    </md-input-container>
                    <md-input-container>
                      <md-select ng-model="someModel" placeholder="Choose a tower name">
                        <md-option ng-value="opt" ng-repeat="opt in neighborhoods2">{{ opt }}</md-option>
                      </md-select>
                    </md-input-container>
                    <md-input-container>
                      <md-select ng-model="someModel" placeholder="Choose a door Number">
                        <md-option ng-value="opt" ng-repeat="opt in neighborhoods2">{{ opt }}</md-option>
                      </md-select>
                     </md-input-container>
                    <md-button class="md-raised bgcolorFFC300 whitefont" ng-click="sendOtp(userForm)">Submit</md-button>
                </md-card-content>
            </form>
        </md-card>
        <div flex-offset="30" hide-xs hide-sm></div>
    </md-content>
</div>