<div ng-app="cmsApp" ng-cloak>
	<md-content flex layout="row" ng-controller="userdetailsController as vmUserdetails" ng-cloak style='height: 600px'>
		<div flex-offset="30" hide-xs hide-sm></div>
		<md-card flex layout-align="center">
			<form name="userForm">
				<md-card-content layout="column"  layout-padding layout-margin >
					<md-autocomplete
			            md-selected-item="vmUserdetails.selectedItemPin"
			            md-search-text-change="vmUserdetails.searchTextChangePin(vmUserdetails.searchTextPin)"
			            md-search-text="vmUserdetails.searchTextPin"
			            md-selected-item-change="vmUserdetails.selectedItemChangePin(item)"
			            md-items="item in vmUserdetails.querySearchPin(vmUserdetails.searchTextPin)"
			            md-item-text="item.pincode.toString()"
			            md-min-length="0"
			            placeholder="Enter Pin Code">
						<md-item-template>
							<span md-highlight-text="vmUserdetails.searchTextPin" md-highlight-flags="^i">{{item.pincode}}</span>
						</md-item-template>
						<md-not-found>
							No states matching "{{vmUserdetails.searchTextPin}}" were found.
						</md-not-found>
					</md-autocomplete>

					<md-autocomplete
						md-selected-item="vmUserdetails.selectedItemApt"
						md-search-text-change="vmUserdetails.searchTextChangeApt(vmUserdetails.searchTextApt)"
						md-search-text="vmUserdetails.searchTextApt"
						md-selected-item-change="vmUserdetails.selectedItemChangeApt(item)"
						md-items="item in vmUserdetails.querySearchApt(vmUserdetails.searchTextApt)"
						md-item-text="item.apartment_name"
						md-min-length="0"
						placeholder="Enter Apartment name">
						<md-item-template>
							<span md-highlight-text="vmUserdetails.searchTextApt" md-highlight-flags="^i">{{item.apartment_name}}</span>
						</md-item-template>
						<md-not-found>
							No states matching "{{vmUserdetails.searchTextApt}}" were found.
						</md-not-found>
					</md-autocomplete>

					<md-autocomplete
						md-selected-item="vmUserdetails.selectedItemTwr"
						md-search-text-change="vmUserdetails.searchTextChangeTwr(vmUserdetails.searchTextTwr)"
						md-search-text="vmUserdetails.searchTextTwr"
						md-selected-item-change="vmUserdetails.selectedItemChangeTwr(item)"
						md-items="item in vmUserdetails.querySearchTwr(vmUserdetails.searchTextTwr)"
						md-item-text="item"
						md-min-length="0"
						placeholder="Enter Tower name">
						<md-item-template>
							<span md-highlight-text="vmUserdetails.searchTextTwr" md-highlight-flags="^i">{{item}}</span>
						</md-item-template>
						<md-not-found>
							No states matching "{{vmUserdetails.searchTextTwr}}" were found.
						</md-not-found>
					</md-autocomplete>

					<md-button class="md-raised bgcolorFFC300 whitefont" ng-click="sendOtp(userForm)">Submit</md-button>

				</md-card-content>
			</form>
		</md-card>
		<div flex-offset="30" hide-xs hide-sm></div>
	</md-content>
</div>