<div ng-app="cmsApp" ng-cloak>
	<md-content layout="row" ng-controller="verifyController as vmVerify" ng-cloak style="height:100%;background-image: url(../images/screen1.jpg);">
        
        <div id="loader" style="position: fixed; bottom: -13%;left:6.5%;display: none">
            <img src="https://i.stack.imgur.com/h6viz.gif" alt=""  >
        </div>      

<!-- left -->
		<div flex-gt-xs="55" hide-xs>

		   <div layout="column" style="padding-top: 10%" layout-align="start start" layout-padding>
		   	<div style="padding-left: 5%">
		   		<img src="../images/logo.png" width="300px" height="300px" class="md-card-image" alt="image caption">
		   	</div>
		   	<div style="padding-left: 5%;margin-top: -72px">
		   		<ul>
		   			<li class="font20 greyfont">Healthy Home Style Meal</li>
		   			<li class="font20 greyfont">Free Delivery at your doorstep</li>
		   			<li class="font20 greyfont">Different Cuisine Everyday</li>
		   			<li class="font20 greyfont">No More Kitchen Hassles</li>
		   			<li class="font20 greyfont">No Repeat for 30 days</li>
		   		</ul>
		   		<h1 class="greyfont font25">Veg Meal Box @ <span style="color: black">&#8377 99</span></h1>
		   		<h1 class="greyfont font25">Non Veg Meal Box @ <span style="color: black">&#8377 119</span></h1>
		   	</div>
		   </div>
		
		</div>
<!-- left -->



<!-- right -->
      <md-card class="card-border" flex-gt-xs="25" layout-align="space-between center" style="width: 100%">
        <md-card-content>
			<div layout="column" layout-align="center center" class="otp-card-img">	
			<div>
			   <img src="../images/logo.png" widht="300px" height="300px" class="md-card-image pl10 pt20" alt="image caption">
            </div>
			<div style="margin-top: -100px">
               <h4 class="greyfont letter-space1">Healthy home cooked food</h4>
            </div>
			<div layout="row" layout-align="center center" style="padding-top: 60px">
			  <span style="background-color: #c02425 !important" class="dot"><i class="fa fa-check" aria-hidden="true" style="padding:6px;float: right;font-size: 12px"></i></span>
              <span class="line"></span>
			  <span class="dot">2</span>
			  <span class="line"></span>
			  <span class="dot">3</span>
			</div>	
			<div class="mt10">
			  <span class="indianredfont font-weightbold">Phone</span>
              <span class="line1"></span>
			  <span class="indianredfont font-weightbold">Verify</span>
			  <span class="line2"></span>
			  <span class="greyfont">Order</span>
			</div>
		  </div>
		  <div>
			<form name="otpForm" class="pt20">
            <h4 class="greyfont font-weight400" layout="row" layout-align="center center">Enter the verification code you've received</h4>
                <!--<md-card-content layout="column"  layout-padding layout-margin  >
					<md-input-container>
						<label>Enter OTP</label>
						<input required type="text" name="otpno" ng-model="userForm.Mmobileno" maxlength="10" md-maxlength="10" ng-pattern="/^[0-9]+$/"/>
					</md-input-container>
					<md-button class="md-raised bgcolorFFC300 whitefont" ng-click="">Enter OTP</md-button>
				</md-card-content> -->
			<div layout="row" layout-align="center center" layout-padding layout-margin>
              <div class="otp-otpbtn-div">

              	<input class="otp-otpbtn-inp" placeholder="OTP" maxlength="4" required type="text" id='otp' name="otp" ng-model="vmVerify.Otp" style="outline: none;"/>
              	<md-button id="verifyOtp" class="otp-otpbtn-btn" ng-click="verifyOtp(otpForm)"><img src="../images/checked.svg" alt="submit" style="height: 36px;width: 36px;margin-left: -3px;margin-top: 0px"></img></md-button>

                <md-button id="resendOtp" class="md-raised md-warn" ng-click="resendOtp()">Resend OTP</md-button>
              </div>
            </div>
			</form>
		  </div>
		 </md-card-content>
		</md-card>
<!-- right -->
		
	</md-content>
</div>