<div ng-app="cmsApp" ng-cloak>
	<md-content class="height600" flex layout="row" ng-controller="verifyController as vmVerify" ng-cloak  >
		<div flex-offset="30" hide-xs hide-sm></div>
		<md-card flex layout="column" layout-align="center center">
			<h4 class="greyfont">Please Verify with OTP for corresponding Mobile Number</h3>
			<div>	
			    <md-button class="md-raised home-signup-btn" href="/signup">verify</md-button>
		    </div>
		</md-card>
		<div flex-offset="30" hide-xs hide-sm></div>
	</md-content>
</div>